

// .brochure-wrapper{
//     width: 100%;
//     min-height: 100%;
//     border: 1px solid #ccc;
//     position: relative;
//     margin-bottom: 20px;
//     .brochure-header{
//        border-bottom: 1px solid #ccc;
//        background: #e4c538;
//        position: relative;
//        top: 0;
//        width: 100%;
//        height: 100px;
//     }
//     .brochure-content{
//         position: relative;
//         padding-bottom: 50px;
//         .text-content{
//             font-family:Arial,serif;
//             color:rgb(43,41,41);
//             font-weight:normal;
//             font-style:normal;
//             text-decoration: none;
//             padding:15px 15px;
//         }
//     }
//     .brochure-footer{
//         position: absolute;
//         bottom: 0;
//         width: 100%;
//       .footer-color{
//          width: 100%;
//          height: 20px;
//          background:#e4c538 ;
//       }
//     }
// }

.feed-page1{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        .text-content{
            width: 64%;
            h4,h5{
                color:#e4c538;
            }
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}

.feed-page2{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        .top-img{
            height: 80px;
            padding:15px 15px;
        }
        .feed-img{
            position: relative;
            height: 500px;
        }
        h4,h5{
            color:#e4c538;
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}
.feed-page3{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        .pro-pellet-img{
            position: relative;
            height: 250px;
        }
        .pass-pellet-img{
            position: relative;
            height: 250px;
        }
        h4,h5{
            color:#e4c538;
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}

.feed-page4{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        .pro-pellet-img{
            position: relative;
            height: 250px;
        }
        .pass-pellet-img{
            position: relative;
            height: 250px;
        }
        h4,h5{
            color:#e4c538;
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}

.feed-page5{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        .feed-img{
            position: relative;
            height: 250px;
            img{
                width: 30%;
            }
        }
        h4,h5{
            color:#e4c538;
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}

.feed-page6{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        h4,h5{
            color:#e4c538;
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}

.feed-page7{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        h4,h5{
            color:#e4c538;
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}

.feed-page8{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        h4,h5{
            color:#e4c538;
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}

