<div
    style="position:absolute;left:50%;margin-left:-297px;top:47656px;width:595px;height:841px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="assets/images/background57.jpg" width=595 height=841></div>
    <div style="position:absolute;left:208.09px;top:465.36px" class="cls_009"><span class="cls_009">Caprine</span></div>
    <div style="position:absolute;left:334.98px;top:465.36px" class="cls_009"><span class="cls_009">Ovine</span></div>
</div>
