<div class="brochure-container">
        <div class="container">
                <div class="row">

                        <ng-container [ngSwitch]="template">
                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'jeevan-jrpro'">
                                        <div class="brochure-wrapper caprine-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">JEEVAN JR.PRO</h4>
                                                                <span>Probiotic caprine & ovine feed supplement</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Fortified with Probiotics
                                                                        and Prebiotics<br>
                                                                        Enriched with natural aminoacids, Vitamins,
                                                                        Minerals,<br>
                                                                        Essential fatty acids and live Saccharomyces
                                                                        boulardii:</h5>
                                                                <h5 class="font-weight-bold">Benefits:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <ul>
                                                                                        <li>Increases milk production,
                                                                                                Milk fat and
                                                                                                protein</li>
                                                                                        <li>Inhibits pathogenic microbes
                                                                                                and prevents
                                                                                                from infectious diseases
                                                                                        </li>
                                                                                        <li>Stimulates the growth of
                                                                                                healthy microflora
                                                                                                in rumen</li>
                                                                                </ul>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img
                                                                                        src="assets/images/jeevan-jrpro-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Usage:</h5>
                                                                <ul>
                                                                        <li>Large animals: 20gms/day</li>
                                                                        <li> Small animals : 10 gms /day</li>
                                                                        <li> In feed : 1kg /tonne feed/drinking water
                                                                        </li>
                                                                        <li> Ensure uniform mixing to avail effective
                                                                                nutrition</li>
                                                                        <li> Also suitable for pellet formulations</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Storage::</h5>
                                                                <p>Store in cool dry place and keep away from direct
                                                                        sunlight</p>
                                                                <div class="side-img-wrapper jeevan-jr-pro-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/jeevan-jr-pro.jpg" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'capromin'">
                                        <div class="brochure-wrapper caprine-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">CAPROMIN</h4>
                                                                <span>Quick Stress Reliever</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 10
                                                                        ml
                                                                        contains</span>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <p>
                                                                                        Vitamin A - 1Lac IU <br>
                                                                                        Vitamin B1 - 7.0 mg<br>
                                                                                        Vitamin B2 - 2.25 mg <br>
                                                                                        Vitamin B6 - 1.25 mg <br>
                                                                                        Vitamin B5 - 2.0 mg <br>
                                                                                        Niacin - 75 mg <br>
                                                                                        Vitamin B12 - 12 mcg<br>
                                                                                        Lysine - 8 mg<br>
                                                                                        Methionine - 100mg<br>
                                                                                        Protein hydro lysate -
                                                                                        7.50mg<br>
                                                                                        Vitamin C - 125 mg <br>
                                                                                        Vitamin D3 - 40,000 I.U<br>
                                                                                        Biotin - 40 mcg<br>
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img
                                                                                        src="assets/images/capromin-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                <ul>
                                                                        <li> During stress conditions like Vaccination,
                                                                                Deworming and Debeaking</li>
                                                                        <li>During improper nutrition</li>
                                                                        <li>B-complex deficiencies</li>
                                                                        <li> During climatic changes</li>
                                                                        <li>Well balanced combination of essential
                                                                                B-vitamins.</li>
                                                                        <li>During high humidity, high temperatures or
                                                                                weather changes.</li>
                                                                        <li>Improvement of feed conversion</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Sheep/Goat :10-15ml/day</p><br>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage::</h5>
                                                                <p>Store in cool & dry place.</p><br>
                                                                <p>Withdrawal period : NIL</p>
                                                                <P>Contraindication : NIL</P>
                                                                <p>Presentation : 500 ml, 1 Litre & 5 Litres</p>
                                                                <div class="side-img-wrapper capromin-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/capromin.jpg" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'ovical'">
                                        <div class="brochure-wrapper caprine-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">OVICOL</h4>
                                                                <span>Liver Protector</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 10
                                                                        ml
                                                                        contains</span>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <p>
                                                                                        Tricholine citrate - 1600 mg
                                                                                        <br>
                                                                                        Soya protein hydrolysate - 100
                                                                                        mg <br>
                                                                                        Vitamin B12 - 4 mcg<br>
                                                                                        Inositol - 10mg<br>
                                                                                        Methionine - 66mg<br>
                                                                                        Selenium - 7mcg<br>
                                                                                        Vitamin E - 20mg <br>
                                                                                        Biotin - 6mcg <br>
                                                                                        Exceipents - Q.S<br>
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img
                                                                                        src="assets/images/ovicol-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Indications::</h5>
                                                                <ul>
                                                                        <li> To correct the liver disorders and prevents
                                                                                liver damage</li>
                                                                        <li> To neutralize toxicities of metabolites, &
                                                                                bacterial toxins</li>
                                                                        <li> To restore, appetite digestion, and to act
                                                                                as anti-stress agent</li>
                                                                        <li> As an antioxidant, detoxifying agent</li>
                                                                        <li> It improve FCR ratio, heath and weight gain
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Sheep/goat
                                                                        : 10-30ml/day
                                                                </p>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 500 ml, 1 Litre & 5 Litres
                                                                </p>
                                                                <div class="side-img-wrapper ovicol-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/ovicol.jpg" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>



                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'immunivit'">
                                        <div class="brochure-wrapper caprine-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">IMMUNIVIT</h4>
                                                                <span>Strengthens Immune System</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 20
                                                                        ml
                                                                        contains</span>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <p>
                                                                                        Vitamin E - 60 mg<br>
                                                                                        Garlic Extract - 100 mg<br>
                                                                                        Glycine - 150 mg<br>
                                                                                        Black seed oil - 5mg<br>
                                                                                        Potassium chloride - 35 mg<br>
                                                                                        Selenium - 10 mcg<br>
                                                                                        Milk protein - 40 mg <br>
                                                                                        Vitamin C - 75 mg<br>
                                                                                        Sodium chloride - 40 mg <br>
                                                                                        Manganese sulphate - 15 mg <br>
                                                                                        Yeast extract - 60 mg<br>
                                                                                        Purified Water - 15ml
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img
                                                                                        src="assets/images/immunivit-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Indications:</h5>
                                                                <ul>
                                                                        <li>For improved physiological system</li>
                                                                        <li> During heat stress</li>
                                                                        <li>Prior to and after vaccination</li>
                                                                        <li>For better immune response after vaccination
                                                                        </li>
                                                                        <li>To stimulate Immune system.</li>
                                                                        <li>It improves the skin and fur quality</li>
                                                                        <li>It increase the milk and maintain thickness
                                                                        </li>
                                                                        <li>It improves the immunity in transportation
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Sheep and goat : 10 ml per day for 10 days</p>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Packing : 1 ltr and 5 ltr</p>
                                                                <div class="side-img-wrapper immunivit-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/immunivit.jpg" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                        </ng-container>

                </div>
        </div>
</div>