<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Query</title>
<style>
</style>
</head>
<body style="margin: 0; padding: 40px;" align="left">
	<table border="0" cellpadding="0" cellspacing="0" width="600"
		align="center" margin="auto"
		style="Font-family: Calibri, Arial, sans-serif; width: 600px; margin: auto; background: #f7f7f7;">
		<tr>
			<td bgcolor="#f7f7f7" style="padding: 20px;">
				<table border="0" cellpadding="0" cellspacing="0"
					style="max-width: 560px; width: 560px; margin: 0 auto 0;">
					<tr>
						<td>
							<table
								style="width: 100%; background: #fff; box-shadow: 0 4px 4px 0 rgba(230, 230, 230, 0.45); -webkit-box-shadow: 0 4px 4px 0 rgba(230, 230, 230, 0.45);">
								<tr>
									<td>
										<table width="100%" cellpadding="20">
											<tr>
												<td>
													<table style="width: 100%;">
														<tr>
															<td>
																<h2 style="color: #353535; margin: 0 0 15px;">Query</h2>
															</td>
														</tr>
														<tr>
															<td>
																<p
																	style="font-size: 14px; color: #3e3e3e; margin: 0 0 5px;">
																	<strong>Dear Sir/Madam, </strong>
																</p>
															</td>
														</tr>

														<tr>
															<td>
																<table width="100%" height="30" border="1"
																	cellspacing="0" cellpadding="5px"
																	style="border: 1px solid #ddd; border-collapse: collapse;">
																	<thead>

																	</thead>
																	<tbody>
																		<tr>
																			<td>User Name</td>
																			<td th:text="${userName}"></td>
																		</tr>
																		<tr>
																			<td>User Email</td>
																		<td th:text="${userName}">/td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
														<tr>
															<td><br>
																<p
																	style="font-size: 14px; color: #3e3e3e; margin: 0 0 5px; line-height: 25px;">
																	<b>Query :</b>
																</p>
																<p
																	style="font-size: 14px; color: #3e3e3e; margin: 0 0 5px; line-height: 25px;">
																	<span th:text="${query}"></span>
																</p> <br></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
