<div class="brochure-container">
        <div class="container">
                <div class="row">

                        <ng-container [ngSwitch]="template">
                        <div class="col-md-12 col-sm-12" *ngSwitchCase="'sea-biscuit'">
                                <div class="brochure-wrapper equine-page1">
                                        <div class="brochure-header"></div>
                                        <div class="brochure-content">
                                                <div class="text-content">
                                                        <h4 class="font-weight-bold text-uppercase text-center">SEA
                                                                BISCUIT</h4>
                                                        <p class="text-center">A premium and all time equine feed</p>


                                                        <h5 class="font-weight-bold">Composition & Principle Ingredients
                                                        </h5>
                                                        <p>Natural and Pure Cereal Whole Grain Mix of Oats, Corn,
                                                                Soyabean,<br>
                                                                Flax seed, Beet Root, Psyllium Husk, Flaxseed Oil, Rice
                                                                Bran Oil, Peanuts, Peas, Molasses & Sunflower Seeds etc.
                                                        </p>
                                                        <h5 class="font-weight-bold">Analysis & Energy Estimation
                                                                Statemen</h5>
                                                        <p>
                                                                Total ME : 4300 K Cal/Kg<br>
                                                                Or Total DE > 3600 K Cal/Kg<br>
                                                                BW. @ 33 K Cal<br>
                                                                Per Kg Metabolic Body Weight<br>
                                                                Usage – 1 Kg For 100 to 120 kg BW<br>
                                                                Crude Protein (Min) – 18 – 20%<br>
                                                                Lysine(Min) - 18 – 19 gm/Kg<br>
                                                                DL Methionine (Min) – 5 – 6 gm/Kg<br>
                                                                Threonine (Min) – 7 to 7.5 gm/Kg<br>
                                                                Crude fat / EE- 7.8 % - 70 to 80 gm/Kg<br>
                                                                Omega 6 Fatty Acid – 16 – 18 gm/Kg<br>
                                                                Omega 3 Fatty Acid – 38 – 40 gm/Kg<br>
                                                                Total Carb. – 67 to 68%<br>
                                                                Crude Fiber Max – 6 -7 %<br>
                                                                Calcium (Ca) (Min.) – 30-32 gm/Kg<br>
                                                                Phosphorous (P) (Min.) – 18-20 gm/Kg<br>
                                                                Salt (NaCl) (Min.) – 10 gm/Kg<br>
                                                                Magnesium (Mg) (Min.) – 6 gm/Kg<br>
                                                                Potassium (K) (Min.) – 1.5%<br>
                                                                Copper (Cu) (Min.) – 50 ppm<br>
                                                                Selenium (Se) (Min.) – 0.6 ppm<br>
                                                                Zinc (Zn) (Min.) – 160 ppm<br>
                                                                Iron (Fe) (Min.) – 900 ppm<br>
                                                                Manganese (Mn) (Min.) – 240 ppm<br>
                                                                Iodine (I) (Min.) – 4 ppm<br>
                                                                Cobalt (Co) (Min.) – 4 ppm<br>
                                                                Vitamin A (P) (Min.) – 20000 IU/Kg<br>
                                                                Vitamin D (P) (Min.) – 2000 IU/Kg<br>
                                                                Vitamin E (P) (Min.) – 400 Mg/Kg<br>
                                                                Vitamin B1 Thiamine(P) (Min.) – 75 Mg/Kg<br>
                                                                Vitamin B2 Riboflavin(P) (Min.) – 54 Mg/Kg<br>
                                                                Vitamin B3 Niacin (P) (Min.) – 150 Mg/Kg<br>
                                                                Vitamin B5 D Calcium Pentothenate (P) (Min.) – 60
                                                                Mg/Kg<br>
                                                                Vitamin B6 Pyridoxine HCl (P) (Min.) – 30 Mg/Kg<br>
                                                                Vitamin B12 Cynocobalamin (P) (Min.) – 0.08 Mg/Kg<br>
                                                                Folic Acid (P) (Min.) – 54 Mg/Kg<br>
                                                                Biotin (P) (Min.) – 2.4 Mg/Kg<br>
                                                                Cholin Chloride (P) (Min.) – 900 Mg/Kg<br>
                                                                Vitamin C Ascorbic Acid (P) (Min.) – 900 Mg/Kg<br>
                                                                Total Direct Fed Microorganisms – 150 Mil CFU/Kg<br>
                                                                Saccharomyces Cerevisiae – 10 Mil CFU/Kg<br>
                                                                Lactobacillus Acidophilus - 25 Mil CFU/Kg<br>
                                                                Bacillus Subtilis - 25 Mil CFU/Kg<br>
                                                                Aspergillus Oryzae - 25 Mil CFU/Kg<br>
                                                                Aspergillus Niger - 25 Mil CFU/Kg<br>
                                                                Fructo oligosaccharide(FOS) - 5 Mil CFU/Kg<br>
                                                                Enzymes Units Complex – 400 mg/Kg<br>
                                                                (Cellulase, Proteases, Lipase, Hemicellulase,
                                                                Phytase)<br>
                                                        </p>
                                                        <p>
                                                                Dosage: Daily – 2 to 4 Kg Upto 500 Kg Body Weight
                                                                Packing – 15/25/40 kg Paper HDPE Bag
                                                                4 to 6 mm Pellets
                                                                Shelf Life: 6 Months From The Date of Mfg.
                                                        </p>
                                                        <div class="side-img-wrapper avilyte-bg"></div>


                                                </div>
                                        </div>

                                </div>
                        </div>

                </ng-container>
                </div>
        </div>
</div>