<div class="brochure-container">
        <div class="container">
                <div class="row">

                        <ng-container [ngSwitch]="template">
                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'sea-biscuit'">
                                        <div class="brochure-wrapper equine-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text full-width">
                                                                <h4 class="font-weight-bold">SEA BISCUIT</h4>
                                                                <span>A premium and all time equine feed</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition & Principle
                                                                        Ingredients
                                                                </h5>
                                                                <p>Natural and Pure Cereal Whole Grain Mix of Oats,
                                                                        Corn,
                                                                        Soyabean,<br>
                                                                        Flax seed, Beet Root, Psyllium Husk, Flaxseed
                                                                        Oil, Rice
                                                                        Bran Oil, Peanuts, Peas, Molasses & Sunflower
                                                                        Seeds etc.
                                                                </p>
                                                                <h5 class="font-weight-bold">Analysis & Energy
                                                                        Estimation
                                                                        Statemen</h5>
                                                                <div class="border-list">
                                                                        <div class="row">
                                                                                <div class="col-md-4">

                                                                                        <ul>
                                                                                                <li>Total ME : 4300 K
                                                                                                        Cal/Kg</li>
                                                                                                <li>Or Total DE > 3600 K
                                                                                                        Cal/Kg</li>
                                                                                                <li>BW. @ 33 K Cal</li>
                                                                                                <li>Per Kg Metabolic
                                                                                                        Body Weight</li>
                                                                                                <li>Usage – 1 Kg For 100
                                                                                                        to 120 kg BW
                                                                                                </li>
                                                                                        </ul>
                                                                                        <ul>
                                                                                                <li>Crude Protein (Min)
                                                                                                        – 18 – 20%</li>
                                                                                                <li>Lysine(Min) - 18 –
                                                                                                        19 gm/Kg</li>
                                                                                                <li>DL Methionine (Min)
                                                                                                        – 5 – 6 gm/Kg
                                                                                                </li>
                                                                                                <li>Threonine (Min) – 7
                                                                                                        to 7.5 gm/Kg
                                                                                                </li>
                                                                                        </ul>
                                                                                        <ul>
                                                                                                <li>Crude fat / EE- 7.8
                                                                                                        % - 70 to 80
                                                                                                        gm/Kg</li>
                                                                                                <li>Omega 6 Fatty Acid –
                                                                                                        16 – 18 gm/Kg
                                                                                                </li>
                                                                                                <li>Omega 3 Fatty Acid –
                                                                                                        38 – 40 gm/Kg
                                                                                                </li>
                                                                                        </ul>
                                                                                        <ul>
                                                                                                <li>Total Carb. – 67 to
                                                                                                        68%</li>
                                                                                                <li>Crude Fiber Max – 6
                                                                                                        -7 %</li>
                                                                                        </ul>
                                                                                        <ul>
                                                                                                <li>Calcium (Ca) (Min.)
                                                                                                        – 30-32 gm/Kg
                                                                                                </li>
                                                                                                <li>Phosphorous (P)
                                                                                                        (Min.) – 18-20
                                                                                                        gm/Kg</li>
                                                                                                <li>Salt (NaCl) (Min.) –
                                                                                                        10 gm/Kg</li>
                                                                                                <li>Magnesium (Mg)
                                                                                                        (Min.) – 6 gm/Kg
                                                                                                </li>
                                                                                                <li>Potassium (K) (Min.)
                                                                                                        – 1.5%</li>
                                                                                                <li>Copper (Cu) (Min.) –
                                                                                                        50 ppm</li>
                                                                                                <li>Selenium (Se) (Min.)
                                                                                                        – 0.6 ppm</li>
                                                                                                <li>Zinc (Zn) (Min.) –
                                                                                                        160 ppm</li>
                                                                                                <li>Iron (Fe) (Min.) –
                                                                                                        900 ppm</li>
                                                                                                <li>Manganese (Mn)
                                                                                                        (Min.) – 240 ppm
                                                                                                </li>
                                                                                                <li>Iodine (I) (Min.) –
                                                                                                        4 ppm</li>
                                                                                                <li>Cobalt (Co) (Min.) –
                                                                                                        4 ppm</li>
                                                                                        </ul>

                                                                                </div>
                                                                                <div class="col-md-8">
                                                                                        <ul>
                                                                                                <li>Vitamin A (P) (Min.)
                                                                                                        – 20000 IU/Kg
                                                                                                </li>
                                                                                                <li>Vitamin D (P) (Min.)
                                                                                                        – 2000 IU/Kg
                                                                                                </li>
                                                                                                <li>Vitamin E (P) (Min.)
                                                                                                        – 400 Mg/Kg</li>
                                                                                                <li>Vitamin B1
                                                                                                        Thiamine(P)
                                                                                                        (Min.) – 75
                                                                                                        Mg/Kg</li>
                                                                                                <li>Vitamin B2
                                                                                                        Riboflavin(P)
                                                                                                        (Min.) – 54
                                                                                                        Mg/Kg</li>
                                                                                                <li>Vitamin B3 Niacin
                                                                                                        (P) (Min.) – 150
                                                                                                        Mg/Kg</li>
                                                                                                <li>Vitamin B5 D Calcium
                                                                                                        Pentothenate (P)
                                                                                                        (Min.) – 60
                                                                                                        Mg/Kg</li>
                                                                                                <li>Vitamin B6
                                                                                                        Pyridoxine
                                                                                                        HCl (P)
                                                                                                        (Min.) – 30
                                                                                                        Mg/Kg</li>
                                                                                                <li>Vitamin B12
                                                                                                        Cynocobalamin
                                                                                                        (P)
                                                                                                        (Min.) – 0.08
                                                                                                        Mg/Kg</li>
                                                                                                <li>Folic Acid (P)
                                                                                                        (Min.) –
                                                                                                        54
                                                                                                        Mg/Kg</li>
                                                                                                <li>Biotin (P) (Min.) –
                                                                                                        2.4
                                                                                                        Mg/Kg</li>
                                                                                                <li>Cholin Chloride (P)
                                                                                                        (Min.) – 900
                                                                                                        Mg/Kg</li>
                                                                                                <li>Vitamin C Ascorbic
                                                                                                        Acid
                                                                                                        (P)
                                                                                                        (Min.) – 900
                                                                                                        Mg/Kg</li>
                                                                                        </ul>
                                                                                        <ul>
                                                                                                <li>Total Direct Fed
                                                                                                        Microorganisms
                                                                                                        – 150 Mil
                                                                                                        CFU/Kg</li>
                                                                                                <li>Saccharomyces
                                                                                                        Cerevisiae
                                                                                                        – 10
                                                                                                        Mil CFU/Kg</li>
                                                                                                <li>Lactobacillus
                                                                                                        Acidophilus - 25
                                                                                                        Mil CFU/Kg</li>
                                                                                                <li>Bacillus Subtilis -
                                                                                                        25
                                                                                                        Mil
                                                                                                        CFU/Kg</li>
                                                                                                <li>Aspergillus Oryzae -
                                                                                                        25
                                                                                                        Mil
                                                                                                        CFU/Kg</li>
                                                                                                <li>Aspergillus Niger -
                                                                                                        25
                                                                                                        Mil
                                                                                                        CFU/Kg</li>
                                                                                                <li>Fructo
                                                                                                        oligosaccharide(FOS)
                                                                                                        - 5
                                                                                                        Mil CFU/Kg</li>
                                                                                                <li>Enzymes Units
                                                                                                        Complex –
                                                                                                        400
                                                                                                        mg/Kg</li>
                                                                                                <li>(Cellulase,
                                                                                                        Proteases,
                                                                                                        Lipase,
                                                                                                        Hemicellulase,
                                                                                                        Phytase)</li>
                                                                                        </ul>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                                <div class="row">
                                                                        <div class="col-md-6">
                                                                                <p>
                                                                                        Dosage: Daily – 2 to 4 Kg Upto
                                                                                        500 Kg Body
                                                                                        Weight<br>
                                                                                        Packing – 15/25/40 kg Paper HDPE
                                                                                        Bag<br>
                                                                                        4 to 6 mm Pellets<br>
                                                                                        Shelf Life: 6 Months From The
                                                                                        Date of Mfg.
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-6 text-center">
                                                                                <img
                                                                                        src="assets/images/sea-biscuit-feed.png" />
                                                                        </div>
                                                                </div>

                                                        </div>
                                                </div>

                                        </div>
                                </div>

                        </ng-container>
                </div>
        </div>
</div>