
<div class="brochure-container">
	<div class="container">
		<div class="row">
			<ng-container [ngSwitch]="template">
			<div class="col-md-12 col-sm-12" *ngSwitchCase="'sea-biscuit'">
				<div class="brochure-wrapper equine-page1">
					<div class="brochure-header">
						<div class="header-text full-width">
							<h4 class="font-weight-bold">{{ 'EQUINE.PAGE-1-TEXT-1' |
								translate }}</h4>
							<span>{{ 'EQUINE.PAGE-1-TEXT-2' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'EQUINE.PAGE-1-TEXT-3' |
								translate }}</h5>
							<p>{{ 'EQUINE.PAGE-1-TEXT-4' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'EQUINE.PAGE-1-TEXT-5' |
								translate }}</h5>
							<div class="border-list">
								<div class="row">
									<div class="col-md-4">
										<ul>
											<li>{{ 'EQUINE.PAGE-1-TEXT-6' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-7' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-8' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-9' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-10' | translate }}</li>
										</ul>
										<ul>
											<li>{{ 'EQUINE.PAGE-1-TEXT-11' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-12' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-13' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-14' | translate }}</li>
										</ul>
										<ul>
											<li>{{ 'EQUINE.PAGE-1-TEXT-15' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-16' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-17' | translate }}</li>
										</ul>
										<ul>
											<li>{{ 'EQUINE.PAGE-1-TEXT-18' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-19' | translate }}</li>
										</ul>
										<ul>
											<li>{{ 'EQUINE.PAGE-1-TEXT-20' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-21' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-22' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-23' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-24' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-25' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-26' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-27' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-28' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-29' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-30' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-31' | translate }}</li>
										</ul>
									</div>
									<div class="col-md-8">
										<ul>
											<li>{{ 'EQUINE.PAGE-1-TEXT-32' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-33' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-34' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-35' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-36' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-37' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-38' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-39' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-40' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-41' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-42' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-43' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-44' | translate }}</li>
										</ul>
										<ul>
											<li>{{ 'EQUINE.PAGE-1-TEXT-45' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-46' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-47' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-48' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-49' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-50' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-51' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-52' | translate }}</li>
											<li>{{ 'EQUINE.PAGE-1-TEXT-53' | translate }}</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>{{ 'EQUINE.PAGE-1-TEXT-54' | translate }}</p>
								</div>
								<div class="col-md-6 text-center">
									<img src="assets/images/sea-biscuit-feed.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</ng-container>
		</div>
	</div>
</div>
