<div class="brochure-container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" [routerLink]="['/test-view']" skipLocationChange>
                <img class="card-img-top" src="assets/images/corn.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">YELLOW CORN & CORN SILAGE</h4>
                    <p class="card-text">We offer Indian yellow corn, which is procured from the hinterland of
                        India.With uniform grain sizes our corn variety has excellent resistant to blight.Our maize are
                        used as livestock feed, forage, silage etc</p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/pro-plus-1.JPG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">PRO PLUS</h4>
                    <ul>
                        <li>Bypass protein, Bypass fat and Vitamin AD3 enriched pellet which is recommended for high
                            yielding cows like HF, Jersey, Etc.,</li>
                    </ul>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/pro-rich-2.JPG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">PRO RICH</h4>
                    <p class="card-text"></p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/pro-pellet-1.JPG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">GOLD SPECIAL HI PRO PELLET</h4>
                    <p class="card-text"></p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/pass-pellet-1.JPG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">BY PASS PELLET</h4>
                    <p class="card-text"></p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/calf-starter-1.JPG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">GOLD CALF STARTER</h4>
                    <p class="card-text"></p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/goat-feed-1.JPG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">GOLDEN GOAT FEED</h4>
                    <p class="card-text"></p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/vin-aqua-1.JPG" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">VIN AQUA</h4>
                    <p class="card-text"></p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/seed-cake.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">COTTON SEED CAKE</h4>
                    <p class="card-text">We offer cotton seed cakes that remains solid once oil has been extracted and pressed from cotton seeds. These cotton seed cakes are widely used in the industry for feeding cattle. We offer at competitive rates, our cotton seed cakes can be supplied to different parts of the world.</p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/rapesed-cake.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">RAPESEED CAKE</h4>
                    <p class="card-text">Rapeseed cake is co-produced with rapeseed oil in rapeseed crushing process. The rapeseed cake produced contains about 7-10% fat after pressing and is used primarily as a raw material for mixed feed in the animal feed industry. Each cake is approx. 1”diameter by 5/6” thick and consists of Rapeseed oil cake and its powder. No bonemeal or any other animal ingredients.</p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/rapesed-meal.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">RAPESEED MEAL</h4>
                    <p class="card-text">Rapeseed Meal is a coarse powdery material, produced from rapeseed cake after series of preparatory physical processes followed by multistage extraction of oil under hygienically controlled conditions.......</p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/guar-meal.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">GUAR MEAL</h4>
                    <p class="card-text">Processed Guar Meal is a high protein feed stuff .It is widely used as partial substitute of soya beans meal. It is processed by toasting at high temperature to remove natural trypsin inhibitor. Thus enhancing its nutritive value and digestibility.</p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="assets/images/bean.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">SOYA DOC / SOYA MEAL</h4>
                    <p class="card-text">We produce highly refined Soya Meal suitable for Poultry and other needs. This high protein component is used as food additive in a variety of products including Wheat Flour for increasing protein component. We also produce animal feed grade Soya DOC used as a major component of cattle feed throughout the world.</p>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
    </div>
</div>