.card-img-top{
    object-fit: cover;
    object-position: -20% 15%;
  
    // width: 300px;
    height: 337px;
}

.brochure-container .col-md-3{
    margin-bottom: 20px;
    display: flex;
}

.card{
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 17px 0 #e6e6e6;
    border: 1px solid #ededed;
    background: #fff;
}

.card-title{
    color: #e4c538;
}

.card:hover .overlay {
    cursor: pointer;
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    border-radius: 20px;
  }