
.rounded-query-wrapper  .enquiry-us.open  .rounded-query{
    display: none !important;
}

.rounded-query-wrapper{
    position: fixed;
    bottom: 0px;
    z-index: 2;
    will-change: opacity;
    backface-visibility: hidden;
    left: 0px;
    padding: 0.5em 0.5em 1em 1em;
     .enquiry-us{
        margin: 0 0 0 20px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 16px;
        border-radius: 10px;
        width: 300px;
        height: auto;
        opacity: 0;
        transform: translate3d(-40%,40%,0px) scale(0.1);
        transition: transform 430ms cubic-bezier(0.23, 1, 0.320, 1);
     }
     .enquiry-us.open{
        opacity: 1;
        transform: translate3d(0px,0px,0px);
        // transition: opacity 140ms ease 0s,transform 140ms ease 0s;
        transition: transform 430ms cubic-bezier(0.23, 1, 0.320, 1);
     }
     .rounded-query.hide{
      display: none
     }
    .rounded-query{
        margin: 0 20px;
        display: flex;
        width: 60px;
        height: 60px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 8px;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        color: rgb(0, 0, 0);
        border-radius: 50%;
        background: rgb(255, 255, 255);
        button{
            -webkit-appearance: none;
            display: inline-block;
            color: inherit;
            background: transparent;
            border-width: 0px;
            border-style: initial;
            outline: none;
            border-color: initial;
            border-image: initial;
            margin: 0px;
            padding: 0px;
            img{
                max-width: 50%;
            }
        }
    }
}


.parent{
    width: 280px;
    margin-left: auto;
    height: 40px;
}

.hanging{
    background: #f1f1f1;
    cursor: pointer;
    margin: 0 15px;
    border: 2px solid #f1f1f1;
    border-radius: 14px 14px 0px 0px;
    display: flex;
    .arrow {
        width: 20px;
        height: 20px;
      transform: rotate(-45deg);
      position: relative;
      top: 15px;
      right: 25px;
        
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            border-width: .8vmin .8vmin 0 0;
            border-style: solid;
            border-color: #343a40;
            transition: .2s ease;
            display: block;
            transform-origin: 100% 0;
        }
    
        
        &:after {
            content: '';
            float: left;
            position: relative;
            top: -100%;
            width: 100%;
            height: 100%;
            border-width: 0 .8vmin 0 0;
            border-style: solid;
            border-color: #343a40;
            transform-origin: 100% 0;
            transition:.2s ease;
        }
    }
    h3{
        padding: 5px 15px;
        margin-left: auto;
        margin-right: auto;
    }
}


.bg-info{
    background-color: #00a4d8 !important;
}

.mdb-color {
    background-color: #343a40!important;
}

footer.page-footer {
    bottom: 0;
    color: #fff;
}

footer.page-footer a {
    color: #fff;
}

.font-small {
    font-size: .9rem;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998!important;
}

.btn-tw {
    color: #fff;
    background-color: #55acee!important;
}

.btn-gplus {
    color: #fff;
    background-color: #dd4b39!important;
}

.btn-li {
    color: #fff;
    background-color: #0082ca!important;
}



.navbar .navbar-left li{
    position: relative;
}

.navbar .navbar-left li a:after {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    // top: 0;
    bottom: 0;
    background: #007dc2;
    height: 4px;
    -webkit-transition-property: 'left, right';
    transition-property: 'left, right';
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.navbar .navbar-left li a:hover,.navbar .navbar-left li a:focus,.navbar .navbar-left li a.active {
    color: #f9f9f9;
    // background-color: #0a0a0a;
}

.navbar .navbar-left li a:hover:after,.navbar .navbar-left li a:focus:after,.navbar .navbar-left li a.active:after {
    left: 0;
    right: 0;
}

.navbar-nav .nav-item{
    cursor: pointer;
}