
<div class="brochure-container">
	<div class="container">
		<div class="row">
			<ng-container [ngswitch]="template">
			<div class="col-md-12 col-sm-12" *ngswitchcase="'secure-all'">
				<div class="brochure-wrapper disinfectant-page1">
					<div class="brochure-header">
						<div class="header-text full-width">
							<h4 class="font-weight-bold">{{ 'DISINFECTANT.PAGE-1-TEXT-1'
								| translate }}</h4>
							<span>{{ 'DISINFECTANT.PAGE-1-TEXT-2' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'DISINFECTANT.PAGE-1-TEXT-3' | translate }}</p>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'DISINFECTANT.PAGE-1-TEXT-4' | translate }}</span>
									<p>{{ 'DISINFECTANT.PAGE-1-TEXT-5' | translate }}</p>
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-6' | translate }}</h5>
									<ul>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-7' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-8' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-9' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-10' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-11' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-12' | translate }}</li>
									</ul>
								</div>
								<div class="col-md-4">
									<img src="assets/images/secure-all.jpg" class="img-max-width">
								</div>
							</div>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-13' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-14' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-15' | translate }}</li>
							</ul>
							<p>{{ 'DISINFECTANT.PAGE-1-TEXT-16' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-17' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-18' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-19' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-20' | translate }}</h5>
							<p>{{ 'DISINFECTANT.PAGE-1-TEXT-21' | translate }}</p>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Diameter of Pipe</th>
										<th>Water holding capacity of 1ft Pipe</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>0.5 inch</td>
										<td>49ml</td>
									</tr>
									<tr>
										<td>0.75inch</td>
										<td>108ml</td>
									</tr>
									<tr>
										<td>1 inch</td>
										<td>193m</td>
									</tr>
								</tbody>
							</table>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-22' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-23' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-24' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-25' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-26' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-27' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-28' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-29' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-30' | translate }}</li>
							</ul>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'p3dex'">
				<div class="brochure-wrapper disinfectant-page2">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-31' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-32' | translate }}</h5>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-33' | translate }}</h5>
							<p>{{ 'DISINFECTANT.PAGE-1-TEXT-34' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-35' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-36' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-37' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-38' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-39' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-40' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-41' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-42' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-43' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-44' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-45' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-46' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-47' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-48' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-49' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-50' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-51' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-52' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-53' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-54' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-55' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-56' | translate }}</li>
							</ul>
							<div class="side-img-wrapper p3dex-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/p3dex.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'opti-cio2'">
				<div class="brochure-wrapper disinfectant-page2">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-57' | translate }}</h4>
							<span>{{ 'DISINFECTANT.PAGE-1-TEXT-58' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-59' | translate }}</h5>
							<p>{{ 'DISINFECTANT.PAGE-1-TEXT-60' | translate }}</p>
							<div class="row">
								<div class="col-md-8">
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-61' | translate }}</h5>
									<ul>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-62' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-63' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-64' | translate }}</li>
									</ul>
								</div>
								<div class="col-md-4">
									<img src="assets/images/opti-cio2-feed.jpg"
										class="img-max-width">
								</div>
							</div>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-65' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-66' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-67' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-68' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-69' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-70' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-71' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-72' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-73' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-74' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-75' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-76' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-77' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-78' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-79' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-80' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-81' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-82' | translate }}</li>
							</ul>
							<div class="side-img-wrapper opti-cio2-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/opti-cio2.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'obaco'">
				<div class="brochure-wrapper disinfectant-page2">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-83' | translate }}</h4>
							<span>{{ 'DISINFECTANT.PAGE-1-TEXT-84' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-85' | translate }}</h5>
							<p>{{ 'DISINFECTANT.PAGE-1-TEXT-86' | translate }}</p>
							<div class="row">
								<div class="col-md-8">
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-87' | translate }}</h5>
									<ul>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-88' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-89' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-90' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-91' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-92' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-93' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-94' | translate }}</li>
									</ul>
								</div>
								<div class="col-md-4">
									<img src="assets/images/obaco-feed.jpg" class="img-max-width">
								</div>
							</div>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-95' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-96' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-97' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-98' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-99' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-100' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-101' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-102' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-103' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-104' | translate }}</h5>
							<ul>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-105' | translate }}</li>
								<li>{{ 'DISINFECTANT.PAGE-1-TEXT-106' | translate }}</li>
							</ul>
							<div class="side-img-wrapper obaco-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/obaco.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'fly-out'">
				<div class="brochure-wrapper disinfectant-page1">
					<div class="brochure-header">
						<div class="header-text full-width">
							<h4 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-107' | translate }}</h4>
							<span>{{ 'DISINFECTANT.PAGE-1-TEXT-108' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'DISINFECTANT.PAGE-1-TEXT-109' | translate }}</p>
							<div class="row">
								<div class="col-md-6">
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-110' | translate }}</h5>
									<p>{{ 'DISINFECTANT.PAGE-1-TEXT-111' | translate }}</p>
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-112' | translate }}</h5>
									<ul>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-113' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-114' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-115' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-116' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-117' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-118' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-119' | translate }}</li>
									</ul>
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-120' | translate }}</h5>
									<ul>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-121' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-122' | translate }}</li>
									</ul>
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-123' | translate }}</h5>
									<p>{{ 'DISINFECTANT.PAGE-1-TEXT-124' | translate }}</p>
									<h5 class="font-weight-bold">{{
										'DISINFECTANT.PAGE-1-TEXT-125' | translate }}</h5>
									<ul>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-126' | translate }}</li>
										<li>{{ 'DISINFECTANT.PAGE-1-TEXT-127' | translate }}</li>
									</ul>
								</div>
								<div class="col-md-6">
									<img src="assets/images/fly-out-3.jpg" class="img-max-width">
									<img src="assets/images/fly-out-1.jpg" class="img-max-width">
									<img src="assets/images/fly-out-2.jpg" class="img-max-width">
								</div>
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'insecticides'">
				<div class="brochure-wrapper disinfectant-page1">
					<div class="brochure-header">
						<div class="header-text full-width">
							<h4 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-128' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<div class="row">
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-129' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-130' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-131' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-132' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-133' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-134' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-135' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-136' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-137' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-138' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-139' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-140' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-141' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-142' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-143' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-144' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-145' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-146' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-147' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-148' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-149' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-150' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-151' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-152' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-153' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-154' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-155' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-156' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-157' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-158' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-159' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-160' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-161' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-162' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-163' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-164' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-165' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-166' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-167' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-168' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-169' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-170' | translate }}</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 text-center">
									<img src="assets/images/insecticides-1.jpg"
										class="img-max-width">
								</div>
								<div class="col-md-6 text-center">
									<img src="assets/images/insecticides-2.jpg"
										class="img-max-width">
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-171' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-172' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-173' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-174' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-175' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-176' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-177' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-178' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-179' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-180' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-181' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-182' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-183' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-184' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-185' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-186' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-187' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-188' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-189' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-190' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-191' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-192' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-193' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-194' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-195' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-196' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-197' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-198' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-199' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-200' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-201' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-202' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-203' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-204' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-205' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-206' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<img src="assets/images/insecticides-3.jpg"
										class="img-max-width width-100 height-100">
								</div>
								<div class="col-md-4 mb-3">
									<img src="assets/images/insecticides-4.jpg"
										class="img-max-width width-100 height-100">
								</div>
								<div class="col-md-4 mb-3">
									<img src="assets/images/insecticides-5.jpg"
										class="img-max-width width-100 height-100">
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-207' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-208' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-209' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-210' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-211' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-212' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-213' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-214' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-215' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-216' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-217' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-218' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-219' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-220' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-221' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-222' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-223' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-224' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-225' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-226' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-227' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-228' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-229' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-230' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-231' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-232' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-233' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-234' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4 mb-3">
									<div class="grouped-tag">
										<h4 class="font-weight-bold">{{
											'DISINFECTANT.PAGE-1-TEXT-235' | translate }}</h4>
										<span>{{ 'DISINFECTANT.PAGE-1-TEXT-236' | translate }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'pharmaceuticals'">
				<div class="brochure-wrapper disinfectant-page1">
					<div class="brochure-header">
						<div class="header-text full-width">
							<h4 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-237' | translate }}</h4>
							<span>{{ 'DISINFECTANT.PAGE-1-TEXT-238' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{
								'DISINFECTANT.PAGE-1-TEXT-239' | translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-240' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-241' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-242' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-243' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-244' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-245' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-246' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-247' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-248' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-249' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-250' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-251' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-252' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-253' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-254' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-255' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-256' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-257' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-258' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-259' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-260' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-261' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-262' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-263' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-264' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-265' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-266' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-267' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-268' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-269' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-270' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-271' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-272' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-273' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-274' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-275' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-276' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-277' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-278' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-279' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-280' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-281' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-282' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-283' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-284' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-285' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-286' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-287' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-288' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-289' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-290' | translate }}</span>
									</div>
									<div class="pharma-group">
										<div class="grouped-tag">
											<h6 class="font-weight-bold">{{
												'DISINFECTANT.PAGE-1-TEXT-291' | translate }}</h6>
											<span>{{ 'DISINFECTANT.PAGE-1-TEXT-292' | translate }}</span>
										</div>
										<span class="line">
											<hr>
											<span class="dot"></span>
										</span> <span>{{ 'DISINFECTANT.PAGE-1-TEXT-293' | translate }}</span>
									</div>
								</div>
								<div class="col-md-4">
									<img src="assets/images/pharma-1.JPG"
										class="img-max-width width-100 height-33"> <img
										src="assets/images/pharma-2.jpg"
										class="img-max-width width-100 height-33"> <img
										src="assets/images/pharma-3.JPG"
										class="img-max-width width-100 height-33">
								</div>
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			</ng-container>
		</div>
	</div>
</div>