
<div class="brochure-container">
	<div class="container">
		<div class="row">
			<ng-container [ngswitch]="template">
			<div class="col-md-12 col-sm-12" *ngswitchcase="'aqua-sure'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-1'
								| translate }}</h4>
							<span>{{ 'AQUACULTURE.PAGE-1-TEXT-2' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-3'
								| translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AQUACULTURE.PAGE-1-TEXT-4' | translate }}</span>
									<p>{{ 'AQUACULTURE.PAGE-1-TEXT-5' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/aqua-sure-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-6'
								| translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-7' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-8'
								| translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-9' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-10' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-11' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-12' | translate }}</p>
						</div>
						<div class="side-img-wrapper aqua-sure-bg"></div>
						<div class="mobile-view">
							<img src="assets/images/aqua-sure.jpg">
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'aquavit'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<span>{{ 'AQUACULTURE.PAGE-1-TEXT-13' | translate }}</span>
							<h4 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-14'
								| translate }}</h4>
							<span>{{ 'AQUACULTURE.PAGE-1-TEXT-15' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-16'
								| translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AQUACULTURE.PAGE-1-TEXT-17' | translate }}</span>
									<div class="row">
										<div class="col-md-6">
											<p>{{ 'AQUACULTURE.PAGE-1-TEXT-18' | translate }}</p>
										</div>
										<div class="col-md-6">
											<p>{{ 'AQUACULTURE.PAGE-1-TEXT-19' | translate }}</p>
										</div>
									</div>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width" src="assets/images/aquavit-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-20'
								| translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-21' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-22' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-23' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-24' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-25' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-26' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-27' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-28' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-29' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-30'
								| translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-31' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-32' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-33' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-34' | translate }}</p>
							<div class="side-img-wrapper aquavit-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/aquavit.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'groliv-a'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-35'
								| translate }}</h4>
							<span>{{ 'AQUACULTURE.PAGE-1-TEXT-36' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-37'
								| translate }}</h5>
							<span class="badge badge-pill badge-color mb-2">{{
								'AQUACULTURE.PAGE-1-TEXT-38' | translate }}</span>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-39' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-40'
								| translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-41' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-42' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-43' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-44' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-45' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-46' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-47' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-48'
								| translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-49' | translate }}</p>
							<span>{{ 'AQUACULTURE.PAGE-1-TEXT-50' | translate }}</span>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-51' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-52' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-53' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-54' | translate }}</p>
							<div class="side-img-wrapper groliv-a-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/groliv-a.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'calgro-a'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-55'
								| translate }}</h4>
							<span>{{ 'AQUACULTURE.PAGE-1-TEXT-56' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-57'
								| translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AQUACULTURE.PAGE-1-TEXT-58' | translate }}</span>
									<p>{{ 'AQUACULTURE.PAGE-1-TEXT-59' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/calgro-a-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-60'
								| translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-61' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-62' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-63' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-64' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-65' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-66'
								| translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-67' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-68' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-69' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-70' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-71' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-72' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-73'
								| translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-74' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-75' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-76' | translate }}</p>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-77' | translate }}</p>
							<div class="side-img-wrapper calgro-a-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/calgro-a.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'fish-care'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-78'
								| translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-79' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-80'
								| translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-81' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-82' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-83' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-84' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-85' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-86' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-87'
								| translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-88' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-89' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-90' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-91' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-92' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-93' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-94'
								| translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-95' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-96'
								| translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-97' | translate }}</p>
							<div class="side-img-wrapper fish-care-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/fish-care.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'panacea'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AQUACULTURE.PAGE-1-TEXT-98'
								| translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-99' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-100' | translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<ul>
										<li>{{ 'AQUACULTURE.PAGE-1-TEXT-101' | translate }}</li>
										<li>{{ 'AQUACULTURE.PAGE-1-TEXT-102' | translate }}</li>
										<li>{{ 'AQUACULTURE.PAGE-1-TEXT-103' | translate }}</li>
									</ul>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width" src="assets/images/panacea-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-104' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-105' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-106' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-107' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-108' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-109' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-110' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-111' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-112' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-113' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-114' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-115' | translate }}</p>
							<div class="side-img-wrapper panacea-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/panacea.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'hull'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-116' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-117' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-118' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-119' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-120' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-121' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-122' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-123' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-124' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-125' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-126' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-127' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-128' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-129' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-130' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-131' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-132' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-133' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-134' | translate }}</p>
							<div class="side-img-wrapper hull-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/hull.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'boon'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-135' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-136' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-137' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-138' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-139' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-140' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-141' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-142' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-143' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-144' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-145' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-146' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-147' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-148' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-149' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-150' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-151' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-152' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-153' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-154' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-155' | translate }}</p>
							<div class="side-img-wrapper boon-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/boon.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'booster'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-156' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-157' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-158' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-159' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-160' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-161' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-162' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-163' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-164' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-165' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-166' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-167' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-168' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-169' | translate }}</p>
							<div class="side-img-wrapper booster-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/booster.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'o-ph'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-170' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-171' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-172' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-173' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-174' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-175' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-176' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-177' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-178' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-179' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-180' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-181' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-182' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-183' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-184' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-185' | translate }}</p>
							<div class="side-img-wrapper oph-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/o-ph.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'protect'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-186' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-187' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-188' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-189' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-190' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-191' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-192' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-193' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-194' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-195' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-196' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-197' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-198' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-199' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-200' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-201' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-202' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-203' | translate }}</p>
							<div class="side-img-wrapper protect-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/protect.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'randmin'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-204' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-205' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-206' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-207' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-208' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-209' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-210' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-211' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-212' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-213' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-214' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-215' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-216' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-217' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-218' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-219' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-220' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-221' | translate }}</p>
							<div class="side-img-wrapper randmin-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/randmin.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'o-ammonia'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-222' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-223' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-224' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-225' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-226' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-227' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-228' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-229' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-230' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-231' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-232' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-233' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-234' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-235' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-236' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-237' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-238' | translate }}</p>
							<div class="side-img-wrapper oammonia-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/o-ammonia.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'multipro-ps+'">
				<div class="brochure-wrapper aqua-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-239' | translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-240' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-241' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-242' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-243' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-244' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-245' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-246' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-247' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-248' | translate }}</h5>
							<ul>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-249' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-250' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-251' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-252' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-253' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-254' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-255' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-256' | translate }}</li>
								<li>{{ 'AQUACULTURE.PAGE-1-TEXT-257' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-258' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-259' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-260' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-261' | translate }}</p>
							<h5 class="font-weight-bold">{{
								'AQUACULTURE.PAGE-1-TEXT-262' | translate }}</h5>
							<p>{{ 'AQUACULTURE.PAGE-1-TEXT-263' | translate }}</p>
							<div class="side-img-wrapper multipro-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/multipro.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			</ng-container>
		</div>
	</div>
</div>
