<div class="brochure-container">
	<div class="container">
		<div class="row">
			<ng-container [ngSwitch]="template">
			<div class="col-md-12 col-sm-12" *ngSwitchCase="'cam-dtox'">
				<div class="brochure-wrapper camel-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-1' |
								translate }}</h4>
							<span>{{ 'CAMEL.PAGE-1-TEXT-2' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-3' |
								translate }}</h5>
							<span class="badge badge-pill badge-color mb-2">{{
								'CAMEL.PAGE-1-TEXT-4' | translate }}</span>
							<div class="row">
								<div class="col-md-8">
									<p>{{ 'CAMEL.PAGE-1-TEXT-5' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/cam-dtox-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-6' |
								translate }}</h5>
							<p>{{ 'CAMEL.PAGE-1-TEXT-7' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-8' |
								translate }}</h5>
							<p>{{ 'CAMEL.PAGE-1-TEXT-9' | translate }}</p>
							<p>{{ 'CAMEL.PAGE-1-TEXT-10' | translate }}</p>
							<p>{{ 'CAMEL.PAGE-1-TEXT-11' | translate }}</p>
							<p>{{ 'CAMEL.PAGE-1-TEXT-12' | translate }}</p>
							<div class="side-img-wrapper cam-dtox-bg"></div>
							<div class="mobile-view">
								<img class="img-max-width" src="assets/images/cam-dtox.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngSwitchCase="'cpc'">
				<div class="brochure-wrapper camel-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-13' |
								translate }}</h4>
							<span>{{ 'CAMEL.PAGE-1-TEXT-14' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-15' |
								translate }}</h5>
							<p>{{ 'CAMEL.PAGE-1-TEXT-16' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-17' |
								translate }}</h5>
							<ul>
								<li>{{ 'CAMEL.PAGE-1-TEXT-18' | translate }}</li>
								<li>{{ 'CAMEL.PAGE-1-TEXT-19' | translate }}</li>
								<li>{{ 'CAMEL.PAGE-1-TEXT-20' | translate }}</li>
							</ul>
							<div class="row">
								<div class="col-md-6 text-center">
									<img class="img-max-width"
										src="assets/images/cpc-camel-feed.png">
								</div>
								<div class="col-md-6 text-center">
									<img class="img-max-width" src="assets/images/cpc-camel.png">
								</div>
							</div>
							<div class="side-img-wrapper cam-dtox-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/cam-dtox.jpg" class="img-max-width">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngSwitchCase="'cambiotics'">
				<div class="brochure-wrapper camel-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-21' |
								translate }}</h4>
							<span>{{ 'CAMEL.PAGE-1-TEXT-22' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-23' |
								translate }}</h5>
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-24' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<p>{{ 'CAMEL.PAGE-1-TEXT-25' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/cambiotics-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'CAMEL.PAGE-1-TEXT-26' |
								translate }}</h5>
							<ul>
								<li>{{ 'CAMEL.PAGE-1-TEXT-27' | translate }}</li>
								<li>{{ 'CAMEL.PAGE-1-TEXT-28' | translate }}</li>
								<li>{{ 'CAMEL.PAGE-1-TEXT-29' | translate }}</li>
								<li>{{ 'CAMEL.PAGE-1-TEXT-30' | translate }}</li>
								<li>{{ 'CAMEL.PAGE-1-TEXT-31' | translate }}</li>
								<li>{{ 'CAMEL.PAGE-1-TEXT-32' | translate }}</li>
							</ul>
							<div class="side-img-wrapper cam-dtox-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/cam-dtox.jpg" class="img-max-width">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			</ng-container>
		</div>
	</div>
</div>