<div class="brochure-container">
        <div class="container">
                <div class="row">

                        <ng-container [ngSwitch]="template">
                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'cam-dtox'">
                                        <div class="brochure-wrapper camel-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">CAM DTOX</h4>
                                                                <span>Vitamin C & Methionine</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 1
                                                                        Kg Contains</span>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <p>
                                                                                        DL Methionine - 150,000 mg<br>
                                                                                        Vitamin C - 15,000 mg<br>
                                                                                        Excipient - 1000 g<br>
                                                                                        based on Dextrose<br><br>
                                                                                        Vitamin C is a strong
                                                                                        antioxidant and is very
                                                                                        important to keep the
                                                                                        functions and the vitality of
                                                                                        cells and
                                                                                        connective tissue. Vitamin C is
                                                                                        important to strengthen immunity
                                                                                        system to help
                                                                                        stressful race
                                                                                        Camels to recovery soon and to
                                                                                        react against
                                                                                        pathologies and
                                                                                        sickness. Methionine is limited
                                                                                        amino acid with
                                                                                        a plastic function,
                                                                                        Methionine is a liver protector,
                                                                                        in fact
                                                                                        Methionine metabolize fats so
                                                                                        to aid liver functions.
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width"
                                                                                        src="assets/images/cam-dtox-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Feeding Instructions:</h5>
                                                                <p>
                                                                        50g per head / day
                                                                        <br>
                                                                        Or as recommended by veterinarian
                                                                </p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL</p>
                                                                <p>Contraindication : NIL</p>
                                                                <p>Presentation : 1ltrs</p>
                                                                <div class="side-img-wrapper cam-dtox-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img class="img-max-width" src="assets/images/cam-dtox.jpg" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'cpc'">
                                        <div class="brochure-wrapper camel-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">CPC</h4>
                                                                <span>Complete Postpartum Care</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Uniqueness of CPC (Complete
                                                                        Postpartum Care) Exclusive for Camels</h5>
                                                                <p>
                                                                        1) CPC Ensures Thorough Cleansing of Uterus post
                                                                        parturition<br>
                                                                        2) CPC Ensures Timely Expulsion of Placenta
                                                                        ( within 3 to 4 hours post-delivery)<br>
                                                                        3) CPC is effective for Milk Fever, ketosis,
                                                                        Metritis , Endometritis,
                                                                        Pyometra,Anoestrous and repeat breeding<br>
                                                                        4) CPC helps Uterus involution and restores milk
                                                                        production associated
                                                                        with uterine disorders<br>
                                                                        5) The product has ISO, GMPcertification; Our
                                                                        CPC for cattle is well
                                                                        accepted in the Indian Veterinary Market.<br>
                                                                </p>
                                                                <h5 class="font-weight-bold">Packing and administration:
                                                                </h5>
                                                                <ul>
                                                                        <li> 1CPC box contains 1 course of 4 packs, Each
                                                                                150 Gms
                                                                                (total 600 grams)</li>
                                                                        <li> 2 packs to be given immediately after
                                                                                delivery (calving),
                                                                                1 pack after 24 hours and 1 pack after
                                                                                48hrs from delivery.</li>
                                                                        <li> We can also provide the same product in
                                                                                Liquid form as
                                                                                Veterinarian suggestion.</li>
                                                                </ul>

                                                                <div class="row">
                                                                        <div class="col-md-6 text-center">
                                                                                <img class="img-max-width"
                                                                                        src="assets/images/cpc-camel-feed.png" />
                                                                        </div>
                                                                        <div class="col-md-6 text-center">
                                                                                <img class="img-max-width"
                                                                                        src="assets/images/cpc-camel.png" />
                                                                        </div>
                                                                </div>
                                                                <div class="side-img-wrapper cam-dtox-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/cam-dtox.jpg" class="img-max-width" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'cambiotics'">
                                        <div class="brochure-wrapper camel-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">Cambiotics</h4>
                                                                <span>For Over All Health</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">A Special Product for
                                                                        Racing Camels</h5>
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <p>
                                                                                        Protein Hydrolysate (Essential
                                                                                        Amino Acids)
                                                                                        Multi Vitamins, Minerals,<br>
                                                                                        Micro Nutrients, Sea Weed
                                                                                        Extract, Herbal
                                                                                        Immunostimulants, Carrierq.s
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width"
                                                                                        src="assets/images/cambiotics-feed.png" />
                                                                        </div>
                                                                </div>


                                                                <h5 class="font-weight-bold">Benefits:</h5>
                                                                <ul>
                                                                        <li>Improves Efficacy in protein utilization
                                                                        </li>
                                                                        <li> Promotes growth and overall health</li>
                                                                        <li> Reduces stress</li>
                                                                        <li> Improves feed efficiency</li>
                                                                        <li>Prevents mineral and vitamin deficiency</li>
                                                                        <li>Acts as energy booster before any physical
                                                                                activity</li>
                                                                </ul>

                                                                <div class="side-img-wrapper cam-dtox-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/cam-dtox.jpg" class="img-max-width" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>


                        </ng-container>

                </div>
        </div>
</div>