.feed-page1{
    .brochure-header{
        background: #e4c538;
    }
    .brochure-content{
        .text-content{
            width: 64%;
            h4,h5{
                color:#e4c538;
            }
        }
    }
    .brochure-footer{
        color: #e4c538;
        .footer-color{
            background:#e4c538;
        }
    }
}