<div class="brochure-container">
        <div class="container">
                <div class="row">

                        <ng-container [ngSwitch]="template">

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'corn'">
                                        <div class="brochure-wrapper feed-page1">
                                                <div class="brochure-header"></div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <p>{{ 'FEED.PAGE-1-TEXT-1' | translate }}</p>
                                                                <h5 class="font-weight-bold">
                                                                        {{ 'FEED.PAGE-1-HEADER-1' | translate }}</h5>
                                                                <ul>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-2' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-3' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-4' | translate }}</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">
                                                                        {{ 'FEED.PAGE-1-HEADER-2' | translate }}</h5>
                                                                <ul>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-5' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-6' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-7' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-8' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-9' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-10' | translate }}</li>
                                                                        <li>{{ 'FEED.PAGE-1-TEXT-11' | translate }}</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">
                                                                        {{ 'FEED.PAGE-1-HEADER-3' | translate }}</h5>
                                                                <p>{{ 'FEED.PAGE-1-TEXT-12' | translate }}</p>
                                                                <h5 class="font-weight-bold">
                                                                        {{ 'FEED.PAGE-1-HEADER-4' | translate }}</h5>
                                                                <p>{{ 'FEED.PAGE-1-TEXT-13' | translate }}</p>
                                                        </div>
                                                        <div class="side-img-wrapper corn-bg"></div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <h4 class="font-weight-bold text-uppercase text-center">
                                                                {{ 'FEED.PAGE-1-FOOTER-1' | translate }}</h4>
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                        </ng-container>

                </div>
        </div>
</div>