<div class="brochure-container">
        <div class="container">
                <div class="row">
                        <ng-container [ngSwitch]="template">
                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">Avilyte</h4>
                                                                <span>Excellent Remedy for Heat Stress</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        kgs
                                                                                        contains</span>
                                                                                <p>Sodium Chloride - 12 gms<br>Sodium
                                                                                        Bicarbonate - 15
                                                                                        gms<br>Sodium Citrate - 30
                                                                                        gms<br>Potassium
                                                                                        Chloride -
                                                                                        30 gms<br>Calcium Lactate - 15
                                                                                        gms<br>Calcium
                                                                                        Gluconate
                                                                                        - 15 gms<br>Magnesium Sulphate -
                                                                                        10
                                                                                        gms<br>Zinc
                                                                                        Sulphate
                                                                                        - 08 gms <br>Ferrous Sulphate -
                                                                                        10
                                                                                        gms<br>Exceipents -
                                                                                        O.S</p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/avilyte-feed.png" />
                                                                        </div>
                                                                </div>
                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                <ul>
                                                                        <li>Neutralizes Electrolyte imbalance.</li>
                                                                        <li>Relieves from all kinds of stress.</li>
                                                                        <li>To improve immunity & to maintain correct
                                                                                Osmotic
                                                                                pressure.</li>
                                                                        <li>To Avoid dehydration & Stroke</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Poultry :100gms per 1000 Chicks / 750 growers / 500
                                                                        Layers/1000 Broilers / 500 breeders for 3 to 5
                                                                        Day Or
                                                                        250 gms / Per ton of Fee</p>
                                                                <p>Withdrawal period : NIL</p>
                                                                <p>Contraindication : NIL</p>
                                                                <p>Presentation : 100gms, 250gms & 500gms, 1kg</p>
                                                                <div class="side-img-wrapper avilyte-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/avilyte.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'astromin'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">ASTROMIN</h4>
                                                                <span>Trace Mineral Premix</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        kgs
                                                                                        contains</span>
                                                                                <p>Manganese - 65 gm<br>Zinc - 50 gm
                                                                                        <br>Iron - 55
                                                                                        gm<br>Cobalt
                                                                                        - 450 mg<br>Copper - 3
                                                                                        gm<br>Iodine - 2.5
                                                                                        gm<br>Selenium
                                                                                        - 200 mg<br>Exceipents - O.S</p>
                                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                                <ul>
                                                                                        <li>To improve shell quality &
                                                                                                reduce breakages.
                                                                                        </li>
                                                                                        <li>To Improve body weight, meat
                                                                                                quantity and
                                                                                                quality.
                                                                                        </li>
                                                                                        <li>To prevent leg weakness poor
                                                                                                feathering and
                                                                                                poor
                                                                                                hatchability</li>
                                                                                </ul>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/astromin-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>POULTRY Regular use : 1 kg/Ton of feed</p>
                                                                <p>During deficiency : 2 kg/ton of feed</p>
                                                                <p>Withdrawal period : NIL</p>
                                                                <P>Contraindication : NIL</P>
                                                                <p>Presentation : 1 KG to 25 KG bags/buckets</p>
                                                                <div class="side-img-wrapper astromin-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/astromin.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>


                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'fcr-booster'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">FCR–BOOSTER </h4>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <p>Fortified with Probiotics and Prebiotics Enriched
                                                                        with natural aminoacids, Vitamins, Minerals,
                                                                        Essential fatty acids and live Saccharomyces
                                                                        boulardii</p>
                                                                <h5 class="font-weight-bold">Benefits:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <ul>
                                                                                        <li>Develops Natural Immunity
                                                                                                and reduces use of
                                                                                                antibiotics.</li>
                                                                                        <li>Reduces and controls
                                                                                                pathogenic bacteria.
                                                                                        </li>
                                                                                        <li>Improves weight gain and
                                                                                                feed conversion .</li>
                                                                                        <li>Enhances egg production and
                                                                                                meat quality.</li>
                                                                                        <li>Improves egg shell quality
                                                                                                and strength.</li>
                                                                                </ul>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/fcr-booster-feed.png" />
                                                                        </div>
                                                                </div>
                                                                <h5 class="font-weight-bold">Usage:</h5>
                                                                <ul>
                                                                        <li>In feed : 1kg /tonnefeed/drinking water.
                                                                        </li>
                                                                        <li>Ensure uniform mixing to avail effective
                                                                                nutrition, Also suitable for crumbles
                                                                                and Mash form feed</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool dry place and keep away from direct
                                                                        sunlight.</p>
                                                                <div class="side-img-wrapper fcr-booster-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/fcr-booster.jpg" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'phxliv'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">PHXLIV</h4>
                                                                <span>Liver Stimulant</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        10
                                                                                        ml
                                                                                        contains</span>
                                                                                <p>Choline Chloridem - 1.2 gm<br>MHA/DL
                                                                                        Methionine - 250
                                                                                        mg<br>Lysine - 75 mg<br>Inositol
                                                                                        - 40
                                                                                        mg<br>Vitamin B12
                                                                                        - 30 mcg<br>Biotin - 75
                                                                                        mcg<br>Vitamin E - 60
                                                                                        mg<br>Liver Extract - 110
                                                                                        mg<br>Protein Hydro
                                                                                        lysate -
                                                                                        50 mg<br>Exceipents - Q.S</p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/phxliv-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                <ul>
                                                                        <li>Helps in Liver regeneration and as an
                                                                                appetizer to
                                                                                stimulate feed intake in poultry & Farm
                                                                                animals.
                                                                        </li>
                                                                        <li>To counteract aflatoxins in feed, better egg
                                                                                production, weight gain & FCR.</li>
                                                                        <li>For better adaptability during stressful
                                                                                conditions.
                                                                        </li>
                                                                        <li>Boosts & increase fertility and hatchability
                                                                                in
                                                                                breeders.</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Chicks/Growers/Broilers : 5-10ml / 100
                                                                        birds<br>Layers :
                                                                        10-15 ml / 100 birds.<br>Breeders : 20-25ml /
                                                                        100 birds.
                                                                </p>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 500 ml, 1 Litre & 5 Litres
                                                                </p>
                                                                <div class="side-img-wrapper phxliv-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/phxliv.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>



                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'pcomplex'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">PCOMPLEX</h4>
                                                                <span>Quick Stress Reliever </span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        10
                                                                                        ml
                                                                                        contains</span>
                                                                                <p>Vitamin A - 1 Lac IU<br>Vitamin B1 -
                                                                                        7.0
                                                                                        mg<br>Vitamin B2 -
                                                                                        2.25 mg<br>Vitamin B6 - 1.25
                                                                                        mg<br>Vitamin B5 -
                                                                                        2.0
                                                                                        mg<br>Niacin - 75 mg<br>Vitamin
                                                                                        B12 - 12
                                                                                        mcg<br>Lysine -
                                                                                        8mg<br>Methionine - 100
                                                                                        mg<br>Protein hydro
                                                                                        lysate -
                                                                                        7.50 mg<br>Vitamin C -125 mg<br>
                                                                                        Vitamin D3 -
                                                                                        40,000
                                                                                        IU<br>Biotin - 40 mcg</p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/pcomplex-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                <ul>
                                                                        <li>During stress conditions like Vaccination,
                                                                                Deworming
                                                                                and Debeaking.</li>
                                                                        <li>During improper nutrition .</li>
                                                                        <li>B-complex deficiencies </li>
                                                                        <li>During climatic changes .</li>
                                                                        <li>Well balanced combination of essential
                                                                                B-vitamins.
                                                                        </li>
                                                                        <li>During high humidity, high temperatures or
                                                                                weather
                                                                                changes.</li>
                                                                        <li>Improvement of feed conversion.</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Poultry : 5-15ml per 100 birds</p>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 500 ml, 1 Litre & 5 Litres
                                                                </p>
                                                                <div class="side-img-wrapper pcomplex-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/pcomplex.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>


                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'tricophx'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">TRICOPHX</h4>
                                                                <span>Liver protector </span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        10
                                                                                        ml
                                                                                        contains</span>
                                                                                <p>Tricholine citrate - 1600 mg<br>Soya
                                                                                        protein
                                                                                        hydrolysate -
                                                                                        100 mg<br>Vitamin B12 - 4
                                                                                        mcg<br>Inositol - 10
                                                                                        mg<br>Methionine - 66
                                                                                        mg<br>Selenium - 7
                                                                                        mcg<br>Vitamin
                                                                                        E - 20 mg<br>Biotin - 6
                                                                                        mcg<br>Exceipents - Q.S
                                                                                </p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/tricophx-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Indications:</h5>
                                                                <ul>
                                                                        <li>To correct the liver disorders and prevents
                                                                                liver
                                                                                damage .</li>
                                                                        <li>To neutralize toxicities of metabolites, &
                                                                                bacterial
                                                                                toxins .</li>
                                                                        <li>To restore, appetite digestion, and to act
                                                                                as
                                                                                anti-stress agent .</li>
                                                                        <li>As an antioxidant, detoxifying agent.</li>
                                                                        <li>It improve FCR ratio, heath and weight gain
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <P>Layers : 200ml/1000 Birds<br>Broilers : 100ml/1000
                                                                        Birds<br>Breeders : 200ml/1000 Birds</P>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 500 ml, 1 Litre & 5 Litres
                                                                </p>
                                                                <div class="side-img-wrapper tricophx-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/tricophx.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'phxcal-d'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">PHXCAL-D</h4>
                                                                <span>For Sturdy Bones & Thick Shells </span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        20
                                                                                        ml
                                                                                        contains</span>
                                                                                <p>Soluble calcium Salts - 500
                                                                                        mg<br>Phophorus - 100
                                                                                        mg<br>Vitamin D3 - 1200
                                                                                        IU<br>Vitamin B12 - 3
                                                                                        mcg<br>Manganese - 2 mg<br>Zinc
                                                                                        - 500
                                                                                        mcg<br>Cobalt -
                                                                                        400 mcg<br>Iron - 10
                                                                                        mg<br>Purified water - 15
                                                                                        ml</p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/phxcal-d-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Indications:</h5>
                                                                <ul>
                                                                        <li>For Sturdy bones & Thick Shells in birds .
                                                                        </li>
                                                                        <li>Prevents stunted growth lameness.</li>
                                                                        <li>Improves egg production .</li>
                                                                        <li>Increase body weight and growth in farm
                                                                                Animals.
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Chicks : 1000ml/250 ltrs of water<br>Growers :
                                                                        1000ml/750
                                                                        ltrs of water<br>Layers/Broilers : 1000ml/600
                                                                        ltrs of
                                                                        water<br>Breeder : 1000ml/400 ltrs of water</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 1 Litre & 5 Litres</p>
                                                                <div class="side-img-wrapper phxcal-d-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/phxcal-d.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>


                                <div class="col-md-12 col-sm-12" *ngSwitchCase="'mycophx-plr'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">MYCOPHX-PLR</h4>
                                                                <span>Liquid Mycotoxin Binder for Poultry Farms</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        100
                                                                                        ml
                                                                                        contains</span>
                                                                                <p>Copper Sulphate - 25.00
                                                                                        %<br>Propionic Acid - 2.00
                                                                                        %<br>Phosphoric Acid - 1.00
                                                                                        %<br>Choline
                                                                                        Chloride - 0.05
                                                                                        %<br>Glacial Acetic Acid - 2.00
                                                                                        %<br>Buffers &
                                                                                        Emulsifiers Added</p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img class="img-max-width" 
                                                                                        src="assets/images/mycophx-plr-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Method of Application:</h5>
                                                                <ul>
                                                                        <li>MYCOPHX-PLR can be sprayed or poured in feed
                                                                                or
                                                                                drinking water as per the recommendation
                                                                                of
                                                                                poultry consultant or by veterinarian.
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Indication:</h5>
                                                                <ul>
                                                                        <li>Detoxify The Mycotoxin & Moulds .</li>
                                                                        <li>Improves Liver Metabolism .</li>
                                                                        <li>Increase Kidney Function.</li>
                                                                        <li>Pathogenic Bacterial Control .</li>
                                                                        <li>Increase In Body Weight & growth</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Poultry: Through Drinking Water or Feed 2ml/litre of
                                                                        Water -
                                                                        5 To 7 Days in a Month - As per the Veterinarian
                                                                        Recommendation</p>
                                                                <p>Presentation of Product: 500ml & 1 Litre.</p>
                                                                <div class="side-img-wrapper mycophx-plr-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/mycophx-plr.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                        </ng-container>

                </div>
        </div>
</div>