
<div class="brochure-container">
	<div class="container">
		<div class="row">
			<ng-container [ngswitch]="template">
			<div class="col-md-12 col-sm-12" *ngswitchcase="'avilyte'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-1' |
								translate }}</h4>
							<span>{{ 'AVIAN.PAGE-1-TEXT-2' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-3' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AVIAN.PAGE-1-TEXT-4' | translate }}</span>
									<p>{{ 'AVIAN.PAGE-1-TEXT-5' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width" src="assets/images/avilyte-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-6' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-7' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-8' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-9' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-10' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-11' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-12' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-13' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-14' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-15' | translate }}</p>
							<div class="side-img-wrapper avilyte-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/avilyte.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'astromin'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-16' |
								translate }}</h4>
							<span>{{ 'AVIAN.PAGE-1-TEXT-17' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-18' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AVIAN.PAGE-1-TEXT-19' | translate }}</span>
									<p>{{ 'AVIAN.PAGE-1-TEXT-20' | translate }}</p>
									<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-21' |
										translate }}</h5>
									<ul>
										<li>{{ 'AVIAN.PAGE-1-TEXT-22' | translate }}</li>
										<li>{{ 'AVIAN.PAGE-1-TEXT-23' | translate }}</li>
										<li>{{ 'AVIAN.PAGE-1-TEXT-24' | translate }}</li>
									</ul>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/astromin-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-25' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-26' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-27' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-28' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-29' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-30' | translate }}</p>
							<div class="side-img-wrapper astromin-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/astromin.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'fcr-booster'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-31' |
								translate }}</h4>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<p>{{ 'AVIAN.PAGE-1-TEXT-32' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-33' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<ul>
										<li>{{ 'AVIAN.PAGE-1-TEXT-34' | translate }}</li>
										<li>{{ 'AVIAN.PAGE-1-TEXT-35' | translate }}</li>
										<li>{{ 'AVIAN.PAGE-1-TEXT-36' | translate }}</li>
										<li>{{ 'AVIAN.PAGE-1-TEXT-37' | translate }}</li>
										<li>{{ 'AVIAN.PAGE-1-TEXT-38' | translate }}</li>
									</ul>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/fcr-booster-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-39' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-40' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-41' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-42' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-43' | translate }}</p>
							<div class="side-img-wrapper fcr-booster-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/fcr-booster.jpg">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'phxliv'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-44' |
								translate }}</h4>
							<span>{{ 'AVIAN.PAGE-1-TEXT-45' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-46' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AVIAN.PAGE-1-TEXT-47' | translate }}</span>
									<p>{{ 'AVIAN.PAGE-1-TEXT-48' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width" src="assets/images/phxliv-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-49' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-50' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-51' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-52' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-53' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-54' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-55' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-56' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-57' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-58' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-59' | translate }}</p>
							<div class="side-img-wrapper phxliv-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/phxliv.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'pcomplex'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-60' |
								translate }}</h4>
							<span>{{ 'AVIAN.PAGE-1-TEXT-61' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-62' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AVIAN.PAGE-1-TEXT-63' | translate }}</span>
									<p>{{ 'AVIAN.PAGE-1-TEXT-64' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/pcomplex-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-65' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-66' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-67' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-68' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-69' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-70' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-71' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-72' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-73' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-74' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-75' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-76' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-77' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-78' | translate }}</p>
							<div class="side-img-wrapper pcomplex-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/pcomplex.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'tricophx'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-79' |
								translate }}</h4>
							<span>{{ 'AVIAN.PAGE-1-TEXT-80' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-81' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AVIAN.PAGE-1-TEXT-82' | translate }}</span>
									<p>{{ 'AVIAN.PAGE-1-TEXT-83' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/tricophx-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-84' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-85' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-86' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-87' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-88' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-89' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-90' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-91' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-92' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-93' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-94' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-95' | translate }}</p>
							<div class="side-img-wrapper tricophx-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/tricophx.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'phxcal-d'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-96' |
								translate }}</h4>
							<span>{{ 'AVIAN.PAGE-1-TEXT-97' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-98' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AVIAN.PAGE-1-TEXT-99' | translate }}</span>
									<p>{{ 'AVIAN.PAGE-1-TEXT-100' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/phxcal-d-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-101' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-102' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-103' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-104' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-105' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-106' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-107' | translate }}</p>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-108' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-109' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-110' | translate }}</p>
							<div class="side-img-wrapper phxcal-d-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/phxcal-d.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12" *ngswitchcase="'mycophx-plr'">
				<div class="brochure-wrapper avian-page1">
					<div class="brochure-header">
						<div class="header-text">
							<h4 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-111' |
								translate }}</h4>
							<span>{{ 'AVIAN.PAGE-1-TEXT-112' | translate }}</span>
						</div>
					</div>
					<div class="brochure-content">
						<div class="text-content">
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-113' |
								translate }}</h5>
							<div class="row">
								<div class="col-md-8">
									<span class="badge badge-pill badge-color mb-2">{{
										'AVIAN.PAGE-1-TEXT-114' | translate }}</span>
									<p>{{ 'AVIAN.PAGE-1-TEXT-115' | translate }}</p>
								</div>
								<div class="col-md-4 text-center">
									<img class="img-max-width"
										src="assets/images/mycophx-plr-feed.png">
								</div>
							</div>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-116' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-117' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-118' |
								translate }}</h5>
							<ul>
								<li>{{ 'AVIAN.PAGE-1-TEXT-119' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-120' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-121' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-122' | translate }}</li>
								<li>{{ 'AVIAN.PAGE-1-TEXT-123' | translate }}</li>
							</ul>
							<h5 class="font-weight-bold">{{ 'AVIAN.PAGE-1-TEXT-124' |
								translate }}</h5>
							<p>{{ 'AVIAN.PAGE-1-TEXT-125' | translate }}</p>
							<p>{{ 'AVIAN.PAGE-1-TEXT-126' | translate }}</p>
							<div class="side-img-wrapper mycophx-plr-bg"></div>
							<div class="mobile-view">
								<img src="assets/images/mycophx-plr.png">
							</div>
						</div>
					</div>
					<div class="brochure-footer">
						<div class="footer-color"></div>
					</div>
				</div>
			</div>
			</ng-container>
		</div>
	</div>
</div>

