<div
style="position:absolute;left:50%;margin-left:-297px;top:29785px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background36.jpg" width=595 height=841></div>
<div style="position:absolute;left:264.86px;top:478.76px" class="cls_009"><span class="cls_009">Bovine</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:30636px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background37.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:44.89px;top:193.49px" class="cls_023"><span class="cls_023">Each 100ml
        Contains</span></div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Calcium</span></div>
<div style="position:absolute;left:139.17px;top:223.34px" class="cls_010"><span class="cls_010">- 6000 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Phosphorus</span>
</div>
<div style="position:absolute;left:139.17px;top:236.53px" class="cls_010"><span class="cls_010">- 3000 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:249.71px" class="cls_010"><span class="cls_010">Vitamin D3</span>
</div>
<div style="position:absolute;left:139.17px;top:249.71px" class="cls_010"><span class="cls_010">- 5000 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:262.90px" class="cls_010"><span class="cls_010">Vitamin B12</span>
</div>
<div style="position:absolute;left:139.17px;top:262.90px" class="cls_010"><span class="cls_010">- 140 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:276.09px" class="cls_010"><span class="cls_010">Vitamin E</span>
</div>
<div style="position:absolute;left:139.17px;top:276.09px" class="cls_010"><span class="cls_010">- 15000mcg</span>
</div>
<div style="position:absolute;left:39.48px;top:289.27px" class="cls_010"><span class="cls_010">Element Iron</span>
</div>
<div style="position:absolute;left:139.17px;top:289.27px" class="cls_010"><span class="cls_010">- 500 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:302.46px" class="cls_010"><span class="cls_010">Copper</span></div>
<div style="position:absolute;left:139.17px;top:302.46px" class="cls_010"><span class="cls_010">- 500 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:315.64px" class="cls_010"><span class="cls_010">Silymarin</span>
</div>
<div style="position:absolute;left:139.17px;top:315.64px" class="cls_010"><span class="cls_010">- 500 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:328.83px" class="cls_010"><span class="cls_010">Herbal Extract</span>
</div>
<div style="position:absolute;left:139.17px;top:328.83px" class="cls_010"><span class="cls_010">- 500 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:342.01px" class="cls_010"><span class="cls_010">Exceipents</span>
</div>
<div style="position:absolute;left:139.17px;top:342.01px" class="cls_010"><span class="cls_010">- Q.S</span></div>
<div style="position:absolute;left:38.62px;top:384.74px" class="cls_032"><span class="cls_032">Advantages</span>
</div>
<div style="position:absolute;left:61.67px;top:404.17px" class="cls_010"><span class="cls_010">High Power of calcium
        for High yielders</span></div>
<div style="position:absolute;left:61.67px;top:417.35px" class="cls_010"><span class="cls_010">Prevents Milk Fever,
        Rickets & Hematuria</span></div>
<div style="position:absolute;left:61.67px;top:430.54px" class="cls_010"><span class="cls_010">Improves Skeletal and
        Muscular Stength</span></div>
<div style="position:absolute;left:61.67px;top:443.72px" class="cls_010"><span class="cls_010">Promotes Growth,
        Increase Libido</span></div>
<div style="position:absolute;left:61.67px;top:456.91px" class="cls_010"><span class="cls_010">Prevents Bacterial
        Attack</span></div>
<div style="position:absolute;left:61.67px;top:470.10px" class="cls_010"><span class="cls_010">Prevents Cardiac
        Diseases</span></div>
<div style="position:absolute;left:61.67px;top:483.28px" class="cls_010"><span class="cls_010">Prevents discomforts
        during Stress</span></div>
<div style="position:absolute;left:61.67px;top:496.47px" class="cls_010"><span class="cls_010">overcomes nutritional
        Deficiencies</span></div>
<div style="position:absolute;left:38.62px;top:531.30px" class="cls_032"><span class="cls_032">Dosage:</span></div>
<div style="position:absolute;left:38.75px;top:558.30px" class="cls_010"><span class="cls_010">Calf / Foal</span>
</div>
<div style="position:absolute;left:138.66px;top:558.30px" class="cls_010"><span class="cls_010">: 40 ml Daily</span>
</div>
<div style="position:absolute;left:38.75px;top:571.49px" class="cls_010"><span class="cls_010">Sheep / Goat</span>
</div>
<div style="position:absolute;left:138.66px;top:571.49px" class="cls_010"><span class="cls_010">: 20ml Daily</span>
</div>
<div style="position:absolute;left:38.75px;top:584.67px" class="cls_010"><span class="cls_010">Cattle</span></div>
<div style="position:absolute;left:138.66px;top:584.67px" class="cls_010"><span class="cls_010">: 100ml Daily</span>
</div>
<div style="position:absolute;left:39.38px;top:612.80px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:612.80px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:625.99px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:625.99px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:639.17px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:639.17px" class="cls_010"><span class="cls_010">: 500ml /1 Ltr / 5
        Ltr</span></div>
<div style="position:absolute;left:43.79px;top:759.78px" class="cls_033"><span class="cls_033">lactogro</span></div>
<div style="position:absolute;left:48.40px;top:786.99px" class="cls_025"><span class="cls_025">Super power of
        Calcium for High Yielder</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:31487px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background38.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:44.89px;top:193.49px" class="cls_023"><span class="cls_023">Each 10 grams
        Contains</span></div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Choline
        Chloride</span></div>
<div style="position:absolute;left:139.17px;top:223.34px" class="cls_010"><span class="cls_010">- 1. 2 grams</span>
</div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Dl Methionine</span>
</div>
<div style="position:absolute;left:139.17px;top:236.53px" class="cls_010"><span class="cls_010">- 250 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:249.71px" class="cls_010"><span class="cls_010">Lysine</span></div>
<div style="position:absolute;left:139.17px;top:249.71px" class="cls_010"><span class="cls_010">- 75 mg</span></div>
<div style="position:absolute;left:39.48px;top:262.90px" class="cls_010"><span class="cls_010">Inositol</span></div>
<div style="position:absolute;left:139.17px;top:262.90px" class="cls_010"><span class="cls_010">- 40 mg</span></div>
<div style="position:absolute;left:39.48px;top:276.09px" class="cls_010"><span class="cls_010">Vitamin B12</span>
</div>
<div style="position:absolute;left:139.17px;top:276.09px" class="cls_010"><span class="cls_010">- 30 mcg</span>
</div>
<div style="position:absolute;left:39.48px;top:289.27px" class="cls_010"><span class="cls_010">Biotin</span></div>
<div style="position:absolute;left:139.17px;top:289.27px" class="cls_010"><span class="cls_010">- 75 mcg</span>
</div>
<div style="position:absolute;left:39.48px;top:302.46px" class="cls_010"><span class="cls_010">Vitamin E</span>
</div>
<div style="position:absolute;left:139.17px;top:302.46px" class="cls_010"><span class="cls_010">- 60 mg</span></div>
<div style="position:absolute;left:39.48px;top:315.64px" class="cls_010"><span class="cls_010">Liver Extract</span>
</div>
<div style="position:absolute;left:139.17px;top:315.64px" class="cls_010"><span class="cls_010">- 110 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:328.83px" class="cls_010"><span class="cls_010">Protein
        Hydroslate</span></div>
<div style="position:absolute;left:139.17px;top:328.83px" class="cls_010"><span class="cls_010">- 50 mg</span></div>
<div style="position:absolute;left:39.48px;top:342.01px" class="cls_010"><span class="cls_010">Inserts</span></div>
<div style="position:absolute;left:139.17px;top:342.01px" class="cls_010"><span class="cls_010">- Q.S</span></div>
<div style="position:absolute;left:38.62px;top:372.24px" class="cls_032"><span class="cls_032">Advantages</span>
</div>
<div style="position:absolute;left:61.67px;top:391.67px" class="cls_010"><span class="cls_010">Helps in liver
        regeneration and as an appetizer to stimulant feed</span></div>
<div style="position:absolute;left:61.67px;top:404.85px" class="cls_010"><span class="cls_010">intake</span></div>
<div style="position:absolute;left:61.67px;top:431.22px" class="cls_010"><span class="cls_010">To counteract
        aflaxtoxins in feed. Better production, weight gain</span></div>
<div style="position:absolute;left:61.67px;top:444.41px" class="cls_010"><span class="cls_010">& FCR</span></div>
<div style="position:absolute;left:61.67px;top:470.78px" class="cls_010"><span class="cls_010">For better
        adaptability during stressfull conditions</span></div>
<div style="position:absolute;left:61.67px;top:497.15px" class="cls_010"><span class="cls_010">Boosts & increase
        fertility in Cattle /Sheep & goats</span></div>
<div style="position:absolute;left:61.67px;top:523.52px" class="cls_010"><span class="cls_010">It supports the
        natural Detoxification functions of Liver and support</span></div>
<div style="position:absolute;left:61.67px;top:536.71px" class="cls_010"><span class="cls_010">theraphy after
        deworming</span></div>
<div style="position:absolute;left:61.67px;top:563.08px" class="cls_010"><span class="cls_010">To help prevent liver
        enlargement, fatty infiltration of liver and fatty</span></div>
<div style="position:absolute;left:61.67px;top:576.27px" class="cls_010"><span class="cls_010">liver
        conditions</span></div>
<div style="position:absolute;left:38.62px;top:605.66px" class="cls_032"><span class="cls_032">Dosage:</span></div>
<div style="position:absolute;left:38.75px;top:632.66px" class="cls_010"><span class="cls_010">Goat/ Sheep</span>
</div>
<div style="position:absolute;left:138.66px;top:632.66px" class="cls_010"><span class="cls_010">: 10-15 ml per
        Animal per day</span></div>
<div style="position:absolute;left:38.75px;top:645.85px" class="cls_010"><span class="cls_010">Big Cattle</span>
</div>
<div style="position:absolute;left:138.66px;top:645.85px" class="cls_010"><span class="cls_010">: 30-50ml per Animal
        per day</span></div>
<div style="position:absolute;left:39.38px;top:678.16px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:678.16px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:691.35px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:691.35px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:704.53px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:704.53px" class="cls_010"><span class="cls_010">: 500ml /1 Ltr / 5
        Ltr</span></div>
<div style="position:absolute;left:63.92px;top:759.78px" class="cls_033"><span class="cls_033">gro-liv</span></div>
<div style="position:absolute;left:48.40px;top:786.99px" class="cls_025"><span class="cls_025">Liver protective &
        performance Enhancer</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:32338px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background39.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:45.72px;top:193.39px" class="cls_023"><span class="cls_023">Each Liters
        Contains</span></div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Calcium</span></div>
<div style="position:absolute;left:139.17px;top:223.12px" class="cls_010"><span class="cls_010">- 35,000 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Vitamin A</span>
</div>
<div style="position:absolute;left:139.17px;top:236.31px" class="cls_010"><span class="cls_010">- 500,000 IU</span>
</div>
<div style="position:absolute;left:39.48px;top:249.71px" class="cls_010"><span class="cls_010">Vitamin B12</span>
</div>
<div style="position:absolute;left:139.17px;top:249.49px" class="cls_010"><span class="cls_010">- 2500 mcg</span>
</div>
<div style="position:absolute;left:39.48px;top:262.90px" class="cls_010"><span class="cls_010">Phosphorus</span>
</div>
<div style="position:absolute;left:139.17px;top:262.68px" class="cls_010"><span class="cls_010">- 17500 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:276.09px" class="cls_010"><span class="cls_010">Vitamin D3</span>
</div>
<div style="position:absolute;left:139.17px;top:275.87px" class="cls_010"><span class="cls_010">- 50,000 IU</span>
</div>
<div style="position:absolute;left:39.48px;top:289.27px" class="cls_010"><span class="cls_010">Biotin</span></div>
<div style="position:absolute;left:139.17px;top:289.05px" class="cls_010"><span class="cls_010">- 200 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:315.64px" class="cls_010"><span class="cls_010">With added advantage
        of chelated minerals,</span></div>
<div style="position:absolute;left:39.48px;top:328.83px" class="cls_010"><span class="cls_010">Milk Enhancing herbs
        and amino acids</span></div>
<div style="position:absolute;left:38.62px;top:360.29px" class="cls_032"><span class="cls_032">Benefits:</span>
</div>
<div style="position:absolute;left:61.67px;top:379.72px" class="cls_010"><span class="cls_010">Provides optimum
        calcium, phosphorus, and vitamin D3</span></div>
<div style="position:absolute;left:61.67px;top:392.90px" class="cls_010"><span class="cls_010">Improves milk
        production in dairy animals</span></div>
<div style="position:absolute;left:61.67px;top:406.09px" class="cls_010"><span class="cls_010">Prevents rickets and
        Osteomalacia</span></div>
<div style="position:absolute;left:61.67px;top:419.27px" class="cls_010"><span class="cls_010">Prevents leg and bone
        weakness</span></div>
<div style="position:absolute;left:38.62px;top:451.29px" class="cls_032"><span class="cls_032">Usage:</span></div>
<div style="position:absolute;left:61.67px;top:470.72px" class="cls_010"><span class="cls_010">30 to 50 ml per
        Cow/Buffalo per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:483.91px" class="cls_010"><span class="cls_010">20 to 30 ml per goat
        /sheep per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:497.09px" class="cls_010"><span class="cls_010">40 t0 50 ml per
        Equine per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:523.46px" class="cls_010"><span class="cls_010">as per Veterinarian
        recommends</span></div>
<div style="position:absolute;left:39.38px;top:551.69px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:551.69px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:564.87px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:564.87px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:578.06px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:578.06px" class="cls_010"><span class="cls_010">: 1Ltr , 5 Ltrs, 10
        Ltrs</span></div>
<div style="position:absolute;left:40.08px;top:759.78px" class="cls_033"><span class="cls_033">BOVICAL-D</span>
</div>
<div style="position:absolute;left:39.67px;top:786.99px" class="cls_025"><span class="cls_025">Calcium, Phosphorus,
        Vitamins, Chelated Minerals & Amino Acids</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:33189px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background40.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:45.72px;top:193.39px" class="cls_023"><span class="cls_023">Each Liters
        Contains</span></div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Choline Donar</span>
</div>
<div style="position:absolute;left:139.17px;top:223.34px" class="cls_010"><span class="cls_010">- 103g</span></div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Inositol</span></div>
<div style="position:absolute;left:139.17px;top:236.53px" class="cls_010"><span class="cls_010">- 500 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:249.71px" class="cls_010"><span class="cls_010">Niacin</span></div>
<div style="position:absolute;left:139.17px;top:249.71px" class="cls_010"><span class="cls_010">- 1000 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:262.90px" class="cls_010"><span class="cls_010">Biotin</span></div>
<div style="position:absolute;left:139.17px;top:262.90px" class="cls_010"><span class="cls_010">- 700 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:276.09px" class="cls_010"><span class="cls_010">Chelated
        Minerals</span></div>
<div style="position:absolute;left:139.17px;top:276.09px" class="cls_010"><span class="cls_010">- QS</span></div>
<div style="position:absolute;left:39.48px;top:289.27px" class="cls_010"><span class="cls_010">Iron Source</span>
</div>
<div style="position:absolute;left:139.17px;top:289.27px" class="cls_010"><span class="cls_010">- QS</span></div>
<div style="position:absolute;left:39.48px;top:302.46px" class="cls_010"><span class="cls_010">Liver Extract</span>
</div>
<div style="position:absolute;left:139.17px;top:302.46px" class="cls_010"><span class="cls_010">- 5000 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:315.64px" class="cls_010"><span class="cls_010">Vitamin B1</span>
</div>
<div style="position:absolute;left:139.17px;top:315.64px" class="cls_010"><span class="cls_010">- 200 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:328.83px" class="cls_010"><span class="cls_010">Vitamin B12</span>
</div>
<div style="position:absolute;left:139.17px;top:328.83px" class="cls_010"><span class="cls_010">- 500 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:342.01px" class="cls_010"><span class="cls_010">Amino acids</span>
</div>
<div style="position:absolute;left:139.17px;top:342.01px" class="cls_010"><span class="cls_010">- QS</span></div>
<div style="position:absolute;left:39.48px;top:355.20px" class="cls_010"><span class="cls_010">Herbal
        Extracts</span></div>
<div style="position:absolute;left:139.17px;top:355.20px" class="cls_010"><span class="cls_010">- QS</span></div>
<div style="position:absolute;left:38.62px;top:386.48px" class="cls_032"><span class="cls_032">Benefits:</span>
</div>
<div style="position:absolute;left:61.67px;top:405.91px" class="cls_010"><span class="cls_010">Helps to maintain the
        proper functioning of the Liver</span></div>
<div style="position:absolute;left:61.67px;top:419.10px" class="cls_010"><span class="cls_010">Improves Digestion
        and FCR in Dairy animals</span></div>
<div style="position:absolute;left:61.67px;top:432.28px" class="cls_010"><span class="cls_010">Help in protecting
        Liver after De-worming</span></div>
<div style="position:absolute;left:61.67px;top:445.47px" class="cls_010"><span class="cls_010">Prevents Liver Damage
        due to harmful chemicals and toxins</span></div>
<div style="position:absolute;left:61.67px;top:458.65px" class="cls_010"><span class="cls_010">Improves milk
        production in Dairy animals</span></div>
<div style="position:absolute;left:38.62px;top:491.26px" class="cls_032"><span class="cls_032">Usage:</span></div>
<div style="position:absolute;left:61.67px;top:510.69px" class="cls_010"><span class="cls_010">30 to 50 ml per
        Cow/Buffalo per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:523.87px" class="cls_010"><span class="cls_010">20 to 30 ml per goat
        /sheep per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:537.06px" class="cls_010"><span class="cls_010">40 t0 50 ml per
        Equine per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:563.43px" class="cls_010"><span class="cls_010">as per Veterinarian
        recommends</span></div>
<div style="position:absolute;left:39.38px;top:591.65px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:591.65px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:604.84px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:604.84px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:618.02px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:618.02px" class="cls_010"><span class="cls_010">: 1Ltr , 5 Ltrs, 10
        Ltrs</span></div>
<div style="position:absolute;left:40.08px;top:759.78px" class="cls_033"><span class="cls_033">PHXLIV-B</span></div>
<div style="position:absolute;left:51.62px;top:786.99px" class="cls_025"><span class="cls_025">A proven Solution for
        Liver health</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:34040px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background41.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:45.72px;top:193.39px" class="cls_023"><span class="cls_023">Each Kg
        Contains</span></div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Vitamin A</span>
</div>
<div style="position:absolute;left:117.17px;top:223.34px" class="cls_010"><span class="cls_010">- 500,000 IU</span>
</div>
<div style="position:absolute;left:204.13px;top:223.34px" class="cls_010"><span class="cls_010">Copper</span></div>
<div style="position:absolute;left:281.82px;top:223.34px" class="cls_010"><span class="cls_010">- 3.5 g</span></div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Vitamin D3</span>
</div>
<div style="position:absolute;left:117.17px;top:236.53px" class="cls_010"><span class="cls_010">- 50000 IU</span>
</div>
<div style="position:absolute;left:204.13px;top:236.53px" class="cls_010"><span class="cls_010">Zinc</span></div>
<div style="position:absolute;left:281.82px;top:236.53px" class="cls_010"><span class="cls_010">- 8g</span></div>
<div style="position:absolute;left:39.48px;top:249.71px" class="cls_010"><span class="cls_010">Vitamin E</span>
</div>
<div style="position:absolute;left:117.17px;top:249.71px" class="cls_010"><span class="cls_010">- 208 mg</span>
</div>
<div style="position:absolute;left:204.13px;top:249.71px" class="cls_010"><span class="cls_010">Cobalt</span></div>
<div style="position:absolute;left:281.82px;top:249.71px" class="cls_010"><span class="cls_010">- 125 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:262.90px" class="cls_010"><span class="cls_010">Niacin</span></div>
<div style="position:absolute;left:117.17px;top:262.90px" class="cls_010"><span class="cls_010">- 834 mg</span>
</div>
<div style="position:absolute;left:204.13px;top:262.90px" class="cls_010"><span class="cls_010">Sulphur</span></div>
<div style="position:absolute;left:281.82px;top:262.90px" class="cls_010"><span class="cls_010">- 6g</span></div>
<div style="position:absolute;left:39.48px;top:276.09px" class="cls_010"><span class="cls_010">Calcium</span></div>
<div style="position:absolute;left:117.17px;top:276.09px" class="cls_010"><span class="cls_010">- 212 g</span></div>
<div style="position:absolute;left:204.13px;top:276.09px" class="cls_010"><span class="cls_010">Potassium</span>
</div>
<div style="position:absolute;left:281.82px;top:276.09px" class="cls_010"><span class="cls_010">- 84 mg</span></div>
<div style="position:absolute;left:39.48px;top:289.27px" class="cls_010"><span class="cls_010">Phosphorus</span>
</div>
<div style="position:absolute;left:117.17px;top:289.27px" class="cls_010"><span class="cls_010">- 106 g</span></div>
<div style="position:absolute;left:204.13px;top:289.27px" class="cls_010"><span class="cls_010">Sodium</span></div>
<div style="position:absolute;left:281.82px;top:289.27px" class="cls_010"><span class="cls_010">- 5mg</span></div>
<div style="position:absolute;left:39.48px;top:302.46px" class="cls_010"><span class="cls_010">Magnesium</span>
</div>
<div style="position:absolute;left:117.17px;top:302.46px" class="cls_010"><span class="cls_010">- 5g</span></div>
<div style="position:absolute;left:204.13px;top:302.46px" class="cls_010"><span class="cls_010">Selenium</span>
</div>
<div style="position:absolute;left:281.82px;top:302.46px" class="cls_010"><span class="cls_010">- 8.3 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:315.64px" class="cls_010"><span class="cls_010">Manganese</span>
</div>
<div style="position:absolute;left:117.17px;top:315.64px" class="cls_010"><span class="cls_010">- 1.25 g</span>
</div>
<div style="position:absolute;left:204.13px;top:315.64px" class="cls_010"><span class="cls_010">Amino Acids</span>
</div>
<div style="position:absolute;left:281.82px;top:315.64px" class="cls_010"><span class="cls_010">- QS</span></div>
<div style="position:absolute;left:39.48px;top:328.83px" class="cls_010"><span class="cls_010">Iron</span></div>
<div style="position:absolute;left:117.17px;top:328.83px" class="cls_010"><span class="cls_010">- 1.25g</span></div>
<div style="position:absolute;left:204.13px;top:328.83px" class="cls_010"><span class="cls_010">Liver Booster</span>
</div>
<div style="position:absolute;left:281.82px;top:328.83px" class="cls_010"><span class="cls_010">- QS</span></div>
<div style="position:absolute;left:39.48px;top:342.01px" class="cls_010"><span class="cls_010">Iodine</span></div>
<div style="position:absolute;left:117.17px;top:342.01px" class="cls_010"><span class="cls_010">- 271 mg</span>
</div>
<div style="position:absolute;left:204.13px;top:342.01px" class="cls_010"><span class="cls_010">Herbal
        Extracts</span></div>
<div style="position:absolute;left:281.82px;top:342.01px" class="cls_010"><span class="cls_010">- QS</span></div>
<div style="position:absolute;left:38.62px;top:374.35px" class="cls_032"><span class="cls_032">Benefits:</span>
</div>
<div style="position:absolute;left:61.67px;top:393.78px" class="cls_010"><span class="cls_010">An Ultimate mineral
        mixture for Cattle</span></div>
<div style="position:absolute;left:61.67px;top:406.97px" class="cls_010"><span class="cls_010">Improves the level of
        macro and micro minerals</span></div>
<div style="position:absolute;left:61.67px;top:420.16px" class="cls_010"><span class="cls_010">Increase in milk
        production level</span></div>
<div style="position:absolute;left:61.67px;top:433.34px" class="cls_010"><span class="cls_010">Enhance Fat and SNF
        percentage level in the milk</span></div>
<div style="position:absolute;left:61.67px;top:446.53px" class="cls_010"><span class="cls_010">Effective against
        reproductive diseases like anoestrus, repeat</span></div>
<div style="position:absolute;left:61.67px;top:459.71px" class="cls_010"><span class="cls_010">breeding in the dairy
        animals</span></div>
<div style="position:absolute;left:61.67px;top:472.90px" class="cls_010"><span class="cls_010">Improves conception
        rate after Artificial Insemination</span></div>
<div style="position:absolute;left:61.67px;top:486.08px" class="cls_010"><span class="cls_010">Prevents Ketosis in
        dairy animals</span></div>
<div style="position:absolute;left:61.67px;top:499.27px" class="cls_010"><span class="cls_010">Contains bypass amino
        acids for better bio availability of protein</span></div>
<div style="position:absolute;left:61.67px;top:512.45px" class="cls_010"><span class="cls_010">Improves body
        immunity and skin health</span></div>
<div style="position:absolute;left:61.67px;top:525.64px" class="cls_010"><span class="cls_010">Enhances milk
        production in the dairy animal.</span></div>
<div style="position:absolute;left:38.62px;top:560.81px" class="cls_032"><span class="cls_032">Usage:</span></div>
<div style="position:absolute;left:61.67px;top:580.24px" class="cls_010"><span class="cls_010">30 to 50 g per
        Cow/Buffalo per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:593.43px" class="cls_010"><span class="cls_010">20 to 30 g per goat
        /sheep per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:606.62px" class="cls_010"><span class="cls_010">40 t0 50 g per Equine
        per day to be mixed in feed</span></div>
<div style="position:absolute;left:61.67px;top:619.80px" class="cls_010"><span class="cls_010">500 g to 1 kg per ton
        of feed or as per Veterinarian recommends</span></div>
<div style="position:absolute;left:39.38px;top:654.87px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:654.87px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:668.05px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:668.05px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:681.24px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:681.24px" class="cls_010"><span class="cls_010">: 1 Kg, 5 Kgs, 10
        Kgs, 25 Kgs</span></div>
<div style="position:absolute;left:40.08px;top:759.78px" class="cls_033"><span class="cls_033">BOVIMIN FORTE</span>
</div>
<div style="position:absolute;left:157.49px;top:786.99px" class="cls_025"><span class="cls_025">Ultimatre Mineral
        Mixture for cattle</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:34891px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background42.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:44.89px;top:193.49px" class="cls_023"><span class="cls_023">Composition</span>
</div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Contains Vit A,
        D3,E,B1,B2,B6,B12,Niacin,Calcium D, Panthonate,</span></div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Folic Acid, Biotin,
        Yeast Powder, Choline Chloride.</span></div>
<div style="position:absolute;left:38.62px;top:268.53px" class="cls_032"><span class="cls_032">Indications:</span>
</div>
<div style="position:absolute;left:61.67px;top:287.96px" class="cls_010"><span class="cls_010">As an aid in
        treatment of certain skin conditions</span></div>
<div style="position:absolute;left:61.67px;top:301.14px" class="cls_010"><span class="cls_010">To overcome fat
        soluble vitamin deficiencies</span></div>
<div style="position:absolute;left:61.67px;top:314.33px" class="cls_010"><span class="cls_010">For better health &
        improved disease resistance</span></div>
<div style="position:absolute;left:61.67px;top:327.52px" class="cls_010"><span class="cls_010">To improve Milk Yield
        & Fat</span></div>
<div style="position:absolute;left:38.62px;top:363.53px" class="cls_032"><span class="cls_032">Dosage:</span></div>
<div style="position:absolute;left:38.75px;top:382.53px" class="cls_010"><span
        class="cls_010">Calves/Sheep/Goat</span></div>
<div style="position:absolute;left:138.66px;top:382.53px" class="cls_010"><span class="cls_010">: 5 to 10 grams per
        animal per/day</span></div>
<div style="position:absolute;left:38.75px;top:408.90px" class="cls_010"><span class="cls_010">Or as recommended by
        veterinarian.</span></div>
<div style="position:absolute;left:39.19px;top:443.58px" class="cls_032"><span class="cls_032">Storage:</span></div>
<div style="position:absolute;left:39.26px;top:461.62px" class="cls_010"><span class="cls_010">Store in cool & dry
        place.</span></div>
<div style="position:absolute;left:39.38px;top:489.62px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:489.62px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:502.81px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:502.81px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:515.99px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:515.99px" class="cls_010"><span class="cls_010">: 1 Kg, 5 Kgs, 10
        Kgs, 25 Kgs</span></div>
<div style="position:absolute;left:48.28px;top:731.17px" class="cls_034"><span class="cls_034">VARSHAMIN</span>
</div>
<div style="position:absolute;left:46.43px;top:747.90px" class="cls_035"><span class="cls_035">STRONG</span></div>
<div style="position:absolute;left:153.12px;top:786.99px" class="cls_025"><span class="cls_025">Milk Yield &
        Fat</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:35742px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background43.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:44.89px;top:193.49px" class="cls_023"><span class="cls_023">Each Kg
        Contains</span></div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Calcium</span></div>
<div style="position:absolute;left:139.17px;top:223.34px" class="cls_010"><span class="cls_010">- 22%</span></div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Phosphorous</span>
</div>
<div style="position:absolute;left:139.17px;top:236.53px" class="cls_010"><span class="cls_010">- 9%</span></div>
<div style="position:absolute;left:39.48px;top:249.71px" class="cls_010"><span class="cls_010">Manganese
        Sulphate</span></div>
<div style="position:absolute;left:139.17px;top:249.71px" class="cls_010"><span class="cls_010">- 0.2%</span></div>
<div style="position:absolute;left:39.48px;top:262.90px" class="cls_010"><span class="cls_010">Potassium
        Iodide</span></div>
<div style="position:absolute;left:139.17px;top:262.90px" class="cls_010"><span class="cls_010">- 0.02%</span></div>
<div style="position:absolute;left:39.48px;top:276.09px" class="cls_010"><span class="cls_010">Ferrous
        Sulphate</span></div>
<div style="position:absolute;left:139.17px;top:276.09px" class="cls_010"><span class="cls_010">- 0.6%</span></div>
<div style="position:absolute;left:39.48px;top:289.27px" class="cls_010"><span class="cls_010">Copper
        Sulphate</span></div>
<div style="position:absolute;left:139.17px;top:289.27px" class="cls_010"><span class="cls_010">- 0.5%</span></div>
<div style="position:absolute;left:39.48px;top:302.46px" class="cls_010"><span class="cls_010">Cobalt
        Sulphate</span></div>
<div style="position:absolute;left:139.17px;top:302.46px" class="cls_010"><span class="cls_010">- 0.02%</span></div>
<div style="position:absolute;left:39.48px;top:315.64px" class="cls_010"><span class="cls_010">Zinc Sulphate</span>
</div>
<div style="position:absolute;left:139.17px;top:315.64px" class="cls_010"><span class="cls_010">- 0.2%</span></div>
<div style="position:absolute;left:39.48px;top:328.83px" class="cls_010"><span class="cls_010">Selenium</span></div>
<div style="position:absolute;left:139.17px;top:328.83px" class="cls_010"><span class="cls_010">- 0.02 mcg</span>
</div>
<div style="position:absolute;left:39.48px;top:342.01px" class="cls_010"><span class="cls_010">Yeast</span></div>
<div style="position:absolute;left:139.17px;top:342.01px" class="cls_010"><span class="cls_010">- Q.S.</span></div>
<div style="position:absolute;left:38.62px;top:371.09px" class="cls_032"><span class="cls_032">Indications:</span>
</div>
<div style="position:absolute;left:61.67px;top:390.52px" class="cls_010"><span class="cls_010">To Maintain Overall
        health of animal & to achieve optimum yields.</span></div>
<div style="position:absolute;left:38.62px;top:420.17px" class="cls_032"><span class="cls_032">Usage:</span></div>
<div style="position:absolute;left:61.67px;top:439.60px" class="cls_010"><span class="cls_010">50Gms Per
        Animal</span></div>
<div style="position:absolute;left:38.62px;top:469.72px" class="cls_032"><span class="cls_032">Mixing Ratio:</span>
</div>
<div style="position:absolute;left:61.67px;top:489.15px" class="cls_010"><span class="cls_010">10 - 20 kg/ton of
        Feed</span></div>
<div style="position:absolute;left:39.19px;top:519.12px" class="cls_032"><span class="cls_032">Storage:</span></div>
<div style="position:absolute;left:39.26px;top:537.17px" class="cls_010"><span class="cls_010">Store in cool & dry
        place.</span></div>
<div style="position:absolute;left:39.38px;top:565.16px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:565.16px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:578.35px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:578.35px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:591.54px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:591.54px" class="cls_010"><span class="cls_010">: 1 Kg, 5 Kgs, 10
        Kgs, 25 Kgs</span></div>
<div style="position:absolute;left:40.08px;top:759.78px" class="cls_033"><span class="cls_033">Mineral Mix</span>
</div>
<div style="position:absolute;left:39.67px;top:786.99px" class="cls_025"><span class="cls_025">Over all
        Health</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:36593px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background44.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Composition:</span>
</div>
<div style="position:absolute;left:44.89px;top:193.49px" class="cls_023"><span class="cls_023">Each 1 Kg
        Contains</span></div>
<div style="position:absolute;left:39.48px;top:223.34px" class="cls_010"><span class="cls_010">Calcium</span></div>
<div style="position:absolute;left:139.17px;top:223.34px" class="cls_010"><span class="cls_010">- 215 g</span></div>
<div style="position:absolute;left:39.48px;top:236.53px" class="cls_010"><span class="cls_010">Sulphur</span></div>
<div style="position:absolute;left:139.17px;top:236.53px" class="cls_010"><span class="cls_010">- 7.2 g</span></div>
<div style="position:absolute;left:39.48px;top:249.71px" class="cls_010"><span class="cls_010">Phosphorous</span>
</div>
<div style="position:absolute;left:139.17px;top:249.71px" class="cls_010"><span class="cls_010">- 127.5 g</span>
</div>
<div style="position:absolute;left:39.48px;top:262.90px" class="cls_010"><span class="cls_010">Potassium</span>
</div>
<div style="position:absolute;left:139.17px;top:262.90px" class="cls_010"><span class="cls_010">- 100 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:276.09px" class="cls_010"><span class="cls_010">Magnesium</span>
</div>
<div style="position:absolute;left:139.17px;top:276.09px" class="cls_010"><span class="cls_010">- 6 g</span></div>
<div style="position:absolute;left:39.48px;top:289.27px" class="cls_010"><span class="cls_010">Sodium</span></div>
<div style="position:absolute;left:139.17px;top:289.27px" class="cls_010"><span class="cls_010">- 6 g</span></div>
<div style="position:absolute;left:39.48px;top:302.46px" class="cls_010"><span class="cls_010">Manganese</span>
</div>
<div style="position:absolute;left:139.17px;top:302.46px" class="cls_010"><span class="cls_010">- 1.5g</span></div>
<div style="position:absolute;left:39.48px;top:315.64px" class="cls_010"><span class="cls_010">Selenium</span></div>
<div style="position:absolute;left:139.17px;top:315.64px" class="cls_010"><span class="cls_010">- 10 mg</span></div>
<div style="position:absolute;left:39.48px;top:328.83px" class="cls_010"><span class="cls_010">Iron</span></div>
<div style="position:absolute;left:139.17px;top:328.83px" class="cls_010"><span class="cls_010">- 1.5 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:342.01px" class="cls_010"><span class="cls_010">Vitamin A</span>
</div>
<div style="position:absolute;left:139.17px;top:342.01px" class="cls_010"><span class="cls_010">- 7,00,000 IU</span>
</div>
<div style="position:absolute;left:39.48px;top:355.20px" class="cls_010"><span class="cls_010">Iodine</span></div>
<div style="position:absolute;left:139.17px;top:355.20px" class="cls_010"><span class="cls_010">- 326 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:368.38px" class="cls_010"><span class="cls_010">Vitamin D3</span>
</div>
<div style="position:absolute;left:139.17px;top:368.38px" class="cls_010"><span class="cls_010">- 70,000 IU</span>
</div>
<div style="position:absolute;left:39.48px;top:381.57px" class="cls_010"><span class="cls_010">Copper</span></div>
<div style="position:absolute;left:139.17px;top:381.57px" class="cls_010"><span class="cls_010">- 1200 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:394.75px" class="cls_010"><span class="cls_010">Vitamin E</span>
</div>
<div style="position:absolute;left:139.17px;top:394.75px" class="cls_010"><span class="cls_010">- 250 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:407.94px" class="cls_010"><span class="cls_010">Zinc</span></div>
<div style="position:absolute;left:139.17px;top:407.94px" class="cls_010"><span class="cls_010">- 12 g</span></div>
<div style="position:absolute;left:39.48px;top:421.12px" class="cls_010"><span class="cls_010">Nicotinamide</span>
</div>
<div style="position:absolute;left:139.17px;top:421.12px" class="cls_010"><span class="cls_010">- 1000 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:434.31px" class="cls_010"><span class="cls_010">Cobalt</span></div>
<div style="position:absolute;left:139.17px;top:434.31px" class="cls_010"><span class="cls_010">- 150 mg</span>
</div>
<div style="position:absolute;left:39.48px;top:447.50px" class="cls_010"><span class="cls_010">Enzymes</span></div>
<div style="position:absolute;left:139.17px;top:447.50px" class="cls_010"><span class="cls_010">- 50 gm</span></div>
<div style="position:absolute;left:39.48px;top:460.68px" class="cls_010"><span class="cls_010">Chelated</span></div>
<div style="position:absolute;left:139.17px;top:460.68px" class="cls_010"><span class="cls_010">- Fortified with by
        pass methionine complex,</span></div>
<div style="position:absolute;left:144.45px;top:473.87px" class="cls_010"><span class="cls_010">MHA-Chelated
        Minerals & Vitamins for Better</span></div>
<div style="position:absolute;left:144.45px;top:487.05px" class="cls_010"><span class="cls_010">productivity &
        Growth</span></div>
<div style="position:absolute;left:38.62px;top:498.71px" class="cls_032"><span class="cls_032">Advantages</span>
</div>
<div style="position:absolute;left:61.67px;top:518.14px" class="cls_010"><span class="cls_010">Maximum bio-
        availability of Minerals</span></div>
<div style="position:absolute;left:61.67px;top:531.33px" class="cls_010"><span class="cls_010">Improved
        Fertility</span></div>
<div style="position:absolute;left:61.67px;top:544.51px" class="cls_010"><span class="cls_010">Healthy Calf</span>
</div>
<div style="position:absolute;left:61.67px;top:557.70px" class="cls_010"><span class="cls_010">Maintains
        health</span></div>
<div style="position:absolute;left:61.67px;top:570.88px" class="cls_010"><span class="cls_010">Improves milk
        production</span></div>
<div style="position:absolute;left:38.62px;top:597.29px" class="cls_032"><span class="cls_032">Dosage:</span></div>
<div style="position:absolute;left:38.75px;top:624.29px" class="cls_010"><span class="cls_010">Adult:
        Cow/Buffalo</span></div>
<div style="position:absolute;left:138.66px;top:624.29px" class="cls_010"><span class="cls_010">: 30 gms per
        day</span></div>
<div style="position:absolute;left:67.79px;top:637.48px" class="cls_010"><span class="cls_010">Goat /Sheep</span>
</div>
<div style="position:absolute;left:138.66px;top:637.48px" class="cls_010"><span class="cls_010">: 10gm per day per
        animal to be mixed in feed</span></div>
<div style="position:absolute;left:39.38px;top:666.79px" class="cls_010"><span class="cls_010">Withdrawal
        period</span></div>
<div style="position:absolute;left:138.66px;top:666.79px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:679.98px" class="cls_010"><span
        class="cls_010">Contraindication</span></div>
<div style="position:absolute;left:138.66px;top:679.98px" class="cls_010"><span class="cls_010">: NIL</span></div>
<div style="position:absolute;left:39.38px;top:693.16px" class="cls_010"><span class="cls_010">Presentation</span>
</div>
<div style="position:absolute;left:138.66px;top:693.16px" class="cls_010"><span class="cls_010">: 1 Kg, 5 Kgs, 10
        Kgs, 25 Kgs</span></div>
<div style="position:absolute;left:40.08px;top:759.78px" class="cls_033"><span class="cls_033">Nutrimix</span></div>
<div style="position:absolute;left:146.99px;top:786.21px" class="cls_025"><span class="cls_025">Premium</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:37444px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background45.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Uniqueness of CPC
        (Complete Postpartum Care) Exclusive for Cattle</span></div>
<div style="position:absolute;left:39.48px;top:187.92px" class="cls_010"><span class="cls_010">1) CPC Ensures
        Thorough Cleansing of Uterus post parturition</span></div>
<div style="position:absolute;left:39.48px;top:205.89px" class="cls_010"><span class="cls_010">2) CPC Ensures Timely
        Expulsion of Placenta ( within 3 to 4 hours post-delivery)</span></div>
<div style="position:absolute;left:39.48px;top:223.87px" class="cls_010"><span class="cls_010">3) CPC is effective
        for Milk Fever, ketosis, Metritis , Endometritis,Pyometra,Anoestrous and repeat breeding</span></div>
<div style="position:absolute;left:39.48px;top:241.84px" class="cls_010"><span class="cls_010">4) CPC helps Uterus
        involution and restores milk production associated with uterine disorders</span></div>
<div style="position:absolute;left:39.48px;top:259.82px" class="cls_010"><span class="cls_010">5) The product has
        ISO, GMPcertification; Our CPC for cattle is well accepted in the Indian Veterinary Market.</span></div>
<div style="position:absolute;left:38.62px;top:297.43px" class="cls_032"><span class="cls_032">Packing and
        Administration:</span></div>
<div style="position:absolute;left:58.29px;top:324.66px" class="cls_010"><span class="cls_010">CPC box contains 1
        course of 4 packs, Each 150 Gms(total 600 grams)</span></div>
<div style="position:absolute;left:58.29px;top:351.03px" class="cls_010"><span class="cls_010">2 Packs to be given
        immediately after delivery (calving), 1 pack after 24 hours and 1 pack after 48hrs from delivery.</span>
</div>
<div style="position:absolute;left:58.29px;top:377.40px" class="cls_010"><span class="cls_010">We can also provide
        the same product in Liquid form as Veterinarian suggestion.</span></div>
<div style="position:absolute;left:37.68px;top:748.32px" class="cls_036"><span class="cls_036">CPC</span></div>
<div style="position:absolute;left:39.07px;top:789.02px" class="cls_025"><span class="cls_025">Complete Postpartum
        Care</span></div>
</div>
<div
style="position:absolute;left:50%;margin-left:-297px;top:38295px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
    <img src="assets/images/background46.jpg" width=595 height=841></div>
<div style="position:absolute;left:38.98px;top:166.82px" class="cls_032"><span class="cls_032">Uniqueness of CPC
        (Complete Postpartum Care) Exclusive for Camels</span></div>
<div style="position:absolute;left:39.67px;top:187.80px" class="cls_010"><span class="cls_010">1) CPC Ensures
        Thorough Cleansing of Uterus post parturition</span></div>
<div style="position:absolute;left:39.67px;top:200.98px" class="cls_010"><span class="cls_010">2) CPC Ensures Timely
        Expulsion of Placenta ( within 3 to 4 hours post-delivery)</span></div>
<div style="position:absolute;left:39.67px;top:214.17px" class="cls_010"><span class="cls_010">3) CPC is effective
        for Milk Fever, ketosis, Metritis , Endometritis,Pyometra,Anoestrous and repeat breeding</span></div>
<div style="position:absolute;left:39.67px;top:227.36px" class="cls_010"><span class="cls_010">4) CPC helps Uterus
        involution and restores milk production associated with uterine disorders</span></div>
<div style="position:absolute;left:39.67px;top:240.54px" class="cls_010"><span class="cls_010">5) The product has
        ISO, GMPcertification; Our CPC for cattle is well accepted in the Indian Veterinary Market.</span></div>
<div style="position:absolute;left:38.82px;top:283.36px" class="cls_032"><span class="cls_032">Packing and
        administration:</span></div>
<div style="position:absolute;left:61.67px;top:310.58px" class="cls_010"><span class="cls_010">1CPC box contains 1
        course of 4 packs, Each 150 Gms (total 600 grams)</span></div>
<div style="position:absolute;left:61.67px;top:336.95px" class="cls_010"><span class="cls_010">2 packs to be given
        immediately after delivery (calving), 1 pack after 24 hours and 1 pack after 48hrs from delivery.</span>
</div>
<div style="position:absolute;left:61.67px;top:363.33px" class="cls_010"><span class="cls_010">We can also provide
        the same product in Liquid form as Veterinarian suggestion.</span></div>
<div style="position:absolute;left:37.68px;top:748.32px" class="cls_036"><span class="cls_036">CPC</span></div>
<div style="position:absolute;left:39.07px;top:789.02px" class="cls_025"><span class="cls_025">Complete Postpartum
        Care</span></div>
</div>
