<!-- <div class="brochure-container">
        <div class="container-fluid no-padding">
                <div class="row">
                        <ng-container [ngSwitch]="template">

                                <div class="col-md-6 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">JEEVAN PRO</h4>
                                                                <span>Probiotic cattle feed supplement</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Fortified with Probiotics
                                                                        and
                                                                        Prebiotics<br>
                                                                        Enriched with natural aminoacids, Vitamins,
                                                                        Minerals,<br>
                                                                        Essential fatty acids and live Saccharomyces
                                                                        boulardii
                                                                </h5>

                                                                <h5 class="font-weight-bold">Benefits:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <ul>
                                                                                        <li> Increases milk production,
                                                                                                Milk fat and
                                                                                                protein
                                                                                        </li>
                                                                                        <li>Inhibits pathogenic microbes
                                                                                                and prevents
                                                                                                from
                                                                                                infectious diseases</li>
                                                                                        <li>Stimulates the growth of
                                                                                                healthy microflora
                                                                                                in rumen
                                                                                        </li>
                                                                                </ul>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">
                                                                                <img
                                                                                        src="assets/images/jeevan-pro-feed.png" />
                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Usage:</h5>
                                                                <ul>
                                                                        <li>Large animals: 20gms/day</li>
                                                                        <li>Small animals : 10 gms /day</li>
                                                                        <li>In feed : 1kg /tonne feed/drinking water
                                                                        </li>
                                                                        <li>Ensure uniform mixing to avail effective
                                                                                nutrition</li>
                                                                        <li>Also suitable for pellet formulations</li>
                                                                </ul>
                                                                <div class="side-img-wrapper jeevan-pro-bg"></div>
                                                                <div class="mobile-view">
                                                                        <img src="assets/images/avilyte.png" />
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-6 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header">
                                                        <div class="header-text">
                                                                <h4 class="font-weight-bold">ASTROMIN</h4>
                                                                <span>Trace Mineral Premix</span>
                                                        </div>
                                                </div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <div class="row">
                                                                        <div class="col-md-8">
                                                                                <span
                                                                                        class="badge badge-pill badge-color mb-2">Each
                                                                                        kgs
                                                                                        contains</span>
                                                                                <p>Manganese - 65 gm<br>Zinc - 50 gm
                                                                                        <br>Iron - 55
                                                                                        gm<br>Cobalt
                                                                                        - 450 mg<br>Copper - 3
                                                                                        gm<br>Iodine - 2.5
                                                                                        gm<br>Selenium
                                                                                        - 200 mg<br>Exceipents - O.S</p>
                                                                        </div>
                                                                        <div class="col-md-4 text-center">

                                                                        </div>
                                                                </div>

                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                <ul>
                                                                        <li>To improve shell quality & reduce breakages.
                                                                        </li>
                                                                        <li>To Improve body weight, meat quantity and
                                                                                quality.
                                                                        </li>
                                                                        <li>To prevent leg weakness poor feathering and
                                                                                poor
                                                                                hatchability</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Calf / Foal    : 40 ml Daily   <br>

Sheep / Goat   : 20ml Daily   <br>
Cattle : 100ml Daily   <br>   <br>
Withdrawal period       : NIL   <br>
Contraindication : NIL   <br>
Presentation : 500ml /1 Ltr / 5 Ltr</p>   <br>


                                                                <div class="side-img-wrapper astromin-bg"></div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-6 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header"></div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 10
                                                                        ml
                                                                        contains</span>
                                                                <p>Choline Chloridem - 1.2 gm<br>MHA/DL Methionine - 250
                                                                        mg<br>Lysine - 75 mg<br>Inositol - 40
                                                                        mg<br>Vitamin B12
                                                                        - 30 mcg<br>Biotin - 75 mcg<br>Vitamin E - 60
                                                                        mg<br>Liver Extract - 110 mg<br>Protein Hydro
                                                                        lysate -
                                                                        50 mg<br>Exceipents - Q.S</p>
                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                <ul>
                                                                        <li>Helps in Liver regeneration and as an
                                                                                appetizer to
                                                                                stimulate feed intake in poultry & Farm
                                                                                animals.
                                                                        </li>
                                                                        <li>To counteract aflatoxins in feed, better egg
                                                                                production, weight gain & FCR.</li>
                                                                        <li>For better adaptability during stressful
                                                                                conditions.
                                                                        </li>
                                                                        <li>Boosts & increase fertility and hatchability
                                                                                in
                                                                                breeders.</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Chicks/Growers/Broilers : 5-10ml / 100
                                                                        birds<br>Layers :
                                                                        10-15 ml / 100 birds.<br>Breeders : 20-25ml /
                                                                        100 birds.
                                                                </p>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 500 ml, 1 Litre & 5 Litres
                                                                </p>
                                                                <div class="side-img-wrapper phxliv-bg"></div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <h4 class="font-weight-bold text-uppercase text-center">PHXLIV
                                                        </h4>
                                                        <p class="text-center">Liver Stimulant</p>
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>



                                <div class="col-md-6 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header"></div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 10
                                                                        ml
                                                                        contains</span>
                                                                <p>Vitamin A - 1 Lac IU<br>Vitamin B1 - 7.0
                                                                        mg<br>Vitamin B2 -
                                                                        2.25 mg<br>Vitamin B6 - 1.25 mg<br>Vitamin B5 -
                                                                        2.0
                                                                        mg<br>Niacin - 75 mg<br>Vitamin B12 - 12
                                                                        mcg<br>Lysine -
                                                                        8mg<br>Methionine - 100 mg<br>Protein hydro
                                                                        lysate -
                                                                        7.50 mg<br>Vitamin C -125 mg<br> Vitamin D3 -
                                                                        40,000
                                                                        IU<br>Biotin - 40 mcg</p>
                                                                <h5 class="font-weight-bold">Uses:</h5>
                                                                <ul>
                                                                        <li>During stress conditions like Vaccination,
                                                                                Deworming
                                                                                and Debeaking.</li>
                                                                        <li>During improper nutrition .</li>
                                                                        <li>B-complex deficiencies </li>
                                                                        <li>During climatic changes .</li>
                                                                        <li>Well balanced combination of essential
                                                                                B-vitamins.
                                                                        </li>
                                                                        <li>During high humidity, high temperatures or
                                                                                weather
                                                                                changes.</li>
                                                                        <li>Improvement of feed conversion.</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Poultry : 5-15ml per 100 birds</p>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 500 ml, 1 Litre & 5 Litres
                                                                </p>
                                                                <div class="side-img-wrapper pcomplex-bg"></div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <h4 class="font-weight-bold text-uppercase text-center">PCOMPLEX
                                                        </h4>
                                                        <p class="text-center">Quick Stress Reliever </p>
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>


                                <div class="col-md-6 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header"></div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 10
                                                                        ml
                                                                        contains</span>
                                                                <p>Tricholine citrate - 1600 mg<br>Soya protein
                                                                        hydrolysate -
                                                                        100 mg<br>Vitamin B12 - 4 mcg<br>Inositol - 10
                                                                        mg<br>Methionine - 66 mg<br>Selenium - 7
                                                                        mcg<br>Vitamin
                                                                        E - 20 mg<br>Biotin - 6 mcg<br>Exceipents - Q.S
                                                                </p>
                                                                <h5 class="font-weight-bold">Indications:</h5>
                                                                <ul>
                                                                        <li>To correct the liver disorders and prevents
                                                                                liver
                                                                                damage .</li>
                                                                        <li>To neutralize toxicities of metabolites, &
                                                                                bacterial
                                                                                toxins .</li>
                                                                        <li>To restore, appetite digestion, and to act
                                                                                as
                                                                                anti-stress agent .</li>
                                                                        <li>As an antioxidant, detoxifying agent.</li>
                                                                        <li>It improve FCR ratio, heath and weight gain
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <P>Layers : 200ml/1000 Birds<br>Broilers : 100ml/1000
                                                                        Birds<br>Breeders : 200ml/1000 Birds</P>
                                                                <p>Or as recommended by veterinarian.</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 500 ml, 1 Litre & 5 Litres
                                                                </p>
                                                                <div class="side-img-wrapper tricophx-bg"></div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <h4 class="font-weight-bold text-uppercase text-center">TRICOPHX
                                                        </h4>
                                                        <p class="text-center">Liver protector </p>
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                                <div class="col-md-6 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header"></div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 20
                                                                        ml
                                                                        contains</span>
                                                                <p>Soluble calcium Salts - 500 mg<br>Phophorus - 100
                                                                        mg<br>Vitamin D3 - 1200 IU<br>Vitamin B12 - 3
                                                                        mcg<br>Manganese - 2 mg<br>Zinc - 500
                                                                        mcg<br>Cobalt -
                                                                        400 mcg<br>Iron - 10 mg<br>Purified water - 15
                                                                        ml</p>
                                                                <h5 class="font-weight-bold">Indications:</h5>
                                                                <ul>
                                                                        <li>For Sturdy bones & Thick Shells in birds .
                                                                        </li>
                                                                        <li>Prevents stunted growth lameness.</li>
                                                                        <li>Improves egg production .</li>
                                                                        <li>Increase body weight and growth in farm
                                                                                Animals.
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Chicks : 1000ml/250 ltrs of water<br>Growers :
                                                                        1000ml/750
                                                                        ltrs of water<br>Layers/Broilers : 1000ml/600
                                                                        ltrs of
                                                                        water<br>Breeder : 1000ml/400 ltrs of water</p>
                                                                <h5 class="font-weight-bold">Storage:</h5>
                                                                <p>Store in cool & dry place.</p>
                                                                <p>Withdrawal period : NIL<br>Contraindication : NIL
                                                                        <br>Presentation : 1 Litre & 5 Litres</p>
                                                                <div class="side-img-wrapper phxcal-d-bg"></div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <h4 class="font-weight-bold text-uppercase text-center">PHXCAL-D
                                                        </h4>
                                                        <p class="text-center">For Sturdy Bones & Thick Shells </p>
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>


                                <div class="col-md-6 col-sm-12" *ngSwitchCase="'avilyte'">
                                        <div class="brochure-wrapper avian-page1">
                                                <div class="brochure-header"></div>
                                                <div class="brochure-content">
                                                        <div class="text-content">
                                                                <h5 class="font-weight-bold">Composition:</h5>
                                                                <span class="badge badge-pill badge-color mb-2">Each 100
                                                                        ml
                                                                        contains</span>
                                                                <p>Copper Sulphate - 25.00 %<br>Propionic Acid - 2.00
                                                                        %<br>Phosphoric Acid - 1.00 %<br>Choline
                                                                        Chloride - 0.05
                                                                        %<br>Glacial Acetic Acid - 2.00 %<br>Buffers &
                                                                        Emulsifiers Added</p>
                                                                <h5 class="font-weight-bold">Method of Application:</h5>
                                                                <ul>
                                                                        <li>MYCOPHX-PLR can be sprayed or poured in feed
                                                                                or
                                                                                drinking water as per the recommendation
                                                                                of
                                                                                poultry consultant or by veterinarian.
                                                                        </li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Indication:</h5>
                                                                <ul>
                                                                              <li>  As an aid in treatment of certain skin conditions</li>
                                                                                        <li> To overcome fat soluble vitamin deficiencies</li>
                                                                                                        <li> For better health & improved disease resistance</li>
                                                                                                                        <li> To improve Milk Yield & Fat</li>
                                                                </ul>
                                                                <h5 class="font-weight-bold">Dosage:</h5>
                                                                <p>Poultry: Through Drinking Water or Feed 2ml/litre of
                                                                        Water -
                                                                        5 To 7 Days in a Month - As per the Veterinarian
                                                                        Recommendation</p>
                                                                <p>Presentation of Product: 500ml & 1 Litre.</p>
                                                                <div class="side-img-wrapper mycophx-plr-bg"></div>
                                                        </div>
                                                </div>
                                                <div class="brochure-footer">
                                                        <h4 class="font-weight-bold text-uppercase text-center">
                                                                MYCOPHX-PLR</h4>
                                                        <p class="text-center">Liquid Mycotoxin Binder for Poultry Farms
                                                        </p>
                                                        <div class="footer-color"></div>
                                                </div>
                                        </div>
                                </div>

                        </ng-container>

                </div>
        </div>
</div> -->