

.sample-wrapper{
    margin-top: 20px;
    h5{
        margin-bottom: 20px;
        font-size: xx-large;
    }
    .card{
        border-radius: 1.25em;
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
        .card-img-top{
            border-radius:1.25em ;
            height: 200px;
        }
    }
}

.banner{
    margin-top: 63px;
}