<div class="banner">
        <slideshow [height]="height" [minHeight]="'525px'" [autoPlay]="true" [showArrows]="true" [showDots]="true"
                [imageUrls]="imageUrls" [lazyLoad]="imageUrls?.length > 1" [autoPlayWaitForLazyLoad]="true">
        </slideshow>
</div>
<div class="container">
        <div class="sample-wrapper">
                <h5 class="font-weight-bold text-uppercase text-center">Feed PHARMACEUTICAL DisInfectant SUPPLEMENTS</h5>
                <div class="row">
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/cow.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/hen.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/fish-1.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/fish-2.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/calf.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/hare.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/feed.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/drug.png" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/beans-milk.jpg" alt="Card image">
                                </div>
                        </div>
                </div>
                <h5 class="font-weight-bold text-uppercase text-center">We  care  for  Animal  Health  &  Wellness</h5>
        </div>
</div>
