<div class="col-md-12 col-sm-12">
        <slideshow [height]="height" [minHeight]="'525px'" [autoPlay]="true" [showArrows]="true" [showDots]="true"
                [imageUrls]="imageUrls" [lazyLoad]="imageUrls?.length > 1" [autoPlayWaitForLazyLoad]="true">
        </slideshow>
</div>
<div class="list-container">
        <div class="sample-wrapper no-padding">
                <h5 class="font-weight-bold text-uppercase text-center">Feed PHARMACEUTICAL DisInfectant SUPPLEMENTS</h5>
                <div class="row">
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/cow.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/hen.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/fish-1.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/fish-2.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/calf.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/hare.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/feed.jpg" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/drug.png" alt="Card image">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                        <img class="card-img-top" src="assets/images/can.png" alt="Card image">
                                </div>
                        </div>
                </div>
                <h5 class="font-weight-bold text-uppercase text-center">We  care  for  Animal  Health  &  Wellness</h5>
        </div>
</div>







<!-- Index Page -->
<!-- <div
    style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="assets/images/background02.jpg" width=595 height=841></div>
    <div style="position:absolute;left:37.94px;top:110.97px" class="cls_007"><span class="cls_007">INDEX</span></div>
    <div style="position:absolute;left:206.59px;top:181.86px" class="cls_008"><span class="cls_008">Feed</span></div>
    <div style="position:absolute;left:206.60px;top:272.71px" class="cls_008"><span class="cls_008">Aquaculture</span>
    </div>
    <div style="position:absolute;left:206.59px;top:362.85px" class="cls_008"><span class="cls_008">Avian</span></div>
    <div style="position:absolute;left:206.98px;top:452.16px" class="cls_008"><span class="cls_008">Bovine</span></div>
    <div style="position:absolute;left:206.98px;top:544.03px" class="cls_008"><span class="cls_008">Caprine &
            Ovine</span></div>
    <div style="position:absolute;left:206.59px;top:632.58px" class="cls_008"><span class="cls_008">Camel</span></div>
    <div style="position:absolute;left:206.59px;top:722.66px" class="cls_008"><span class="cls_008">Equine</span></div>
    <div style="position:absolute;left:39.28px;top:799.00px" class="cls_003"><span class="cls_003">We care for Animal
            Health & Wellness</span></div>
    <div style="position:absolute;left:457.71px;top:806.15px" class="cls_006"><span class="cls_006">P H O E N I X H C I
            N N O VAT I O N S</span></div>
</div> -->