<div class="banner">
  <slideshow [autoPlay]="true" [showArrows]="true" [showDots]="true" [imageUrls]="imageUrls"
    [lazyLoad]="imageUrls?.length > 1" [autoPlayWaitForLazyLoad]="true">
  </slideshow>
</div>
<div class="container">
  <div class="sample-wrapper">
    <ul class="justify-content-center">
      <li><strong>{{ 'HOME.TEXT-1' | translate }}</strong></li>
      <li><strong>{{ 'HOME.TEXT-2' | translate }}</strong></li>
      <li><strong>{{ 'HOME.TEXT-3' | translate }}</strong></li>
      <li><strong>{{ 'HOME.TEXT-4' | translate }}</strong></li>
    </ul>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/1.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/2.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/3.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/4.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/5.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/6.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/7.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/8.png" alt="Card image">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/home/9.png" alt="Card image">
        </div>
      </div>
    </div>
    <h5 class="font-weight-bold text-uppercase text-center">{{ 'HOME.HEADER-1' | translate }}</h5>
  </div>

  <div class="company-details">
    <div class="company-img">
      <img src="assets/images/company-1.jpg">
      <img src="assets/images/company-2.jpg">
      <img src="assets/images/company-3.jpg">
      <img src="assets/images/company-4.jpg">
      <img src="assets/images/company-5.jpg">
      <img src="assets/images/company-6.jpg">
    </div>
    <h6>{{ 'HOME.HEADER-2' | translate }}</h6>
    <p>{{ 'HOME.TEXT-5' | translate }}</p>
    <p>{{ 'HOME.TEXT-6' | translate }}</p>
    <h6>{{ 'HOME.HEADER-3' | translate }}</h6>
    <p>{{ 'HOME.TEXT-7' | translate }}</p>
    <ul>
      <li>{{ 'HOME.TEXT-8' | translate }}</li>
      <li>{{ 'HOME.TEXT-9' | translate }}</li>
      <li>{{ 'HOME.TEXT-10' | translate }}</li>
      <li>{{ 'HOME.TEXT-11' | translate }}</li>
      <li>{{ 'HOME.TEXT-12' | translate }}</li>
      <li>{{ 'HOME.TEXT-13' | translate }}</li>
      <li>{{ 'HOME.TEXT-14' | translate }}</li>
    </ul>
    <div class="company-img">
      <img class="img-max-width" src="assets/images/company-7.jpg">
    </div>
    <p>{{ 'HOME.TEXT-15' | translate }}</p>
  </div>
</div>